<selected>
    <pack><magnit><canvas width="100" height="100"></canvas></magnit><magnit><canvas width="100" height="100"></canvas></magnit><magnit><canvas width="100" height="100"></canvas></magnit><magnit><canvas width="100" height="100"></canvas></magnit><magnit><canvas width="100" height="100"></canvas></magnit><magnit><canvas width="100" height="100"></canvas></magnit><magnit><canvas width="100" height="100"></canvas></magnit><magnit><canvas width="100" height="100"></canvas></magnit><magnit><canvas width="100" height="100"></canvas></magnit></pack>

    <tools>
        <select ng-change="changeOrderNumber()" ng-model="orderedNumberOfThisPack">
            <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>
            <option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
        </select>
        <button class="green" ng-click="editPack()">Редактирай</button>
        <button class="red" ng-click="deletePack()">Изтрий</button>
    </tools>
</selected>