<right>
    <help>
        <a href="/how-to-order" target="_howto" title="Ще се отвори в нов прозорец"><i>?</i> Помощ</a>
    </help>

    <pack><magnit ng-click="magnitAction($event)"><add></add></magnit><magnit ng-click="magnitAction($event)"><add></add></magnit><magnit ng-click="magnitAction($event)"><add></add></magnit><magnit ng-click="magnitAction($event)"><add></add></magnit><magnit ng-click="magnitAction($event)"><add></add></magnit><magnit ng-click="magnitAction($event)"><add></add></magnit><magnit ng-click="magnitAction($event)"><add></add></magnit><magnit ng-click="magnitAction($event)"><add></add></magnit><magnit ng-click="magnitAction($event)"><add></add></magnit><button class="green" ng-disabled="!isfullpack" ng-click="addToCart()"><icon class='plus'></icon>Добави в кошницата</button>
    </pack>

    <buttons>
        <a ng-href="#/cart/" ng-disabled="cartCount==0" class="button"><strong>Отвори кошницата</strong></a>
        <a ng-href="#/cart/" ng-disabled="cartCount==0" class="red button"><icon class='cart'></icon> {{ cartCount }}</a>
    </buttons>
</right>