<left class="autoHeight">
    <selected>
        <a href="#/select" class="button green"><icon class="plus"></icon>Добави още един пакет</a><br /><br />
    </selected>

    <packs>
        <cartSelected ng-repeat="pack in cart" pack="pack"></cartSelected>
    </packs>
</left>


<right>
    <cart>
        <packets><icon></icon>Пакети (<semibold>{{ totalPacks }}</semibold>) <price>{{ totalPrice }}</price></packets>
        <delivery ng-class="{ 'notfree' : !theDeliveryIsFree() }"><icon></icon>Доставка
            <price ng-hide="theDeliveryIsFree()">
                <a target="_econt_tarrifs" href="http://localhost.magnito.net/delivery/">Доставка с Еконт</a>
                <div class="bill">(за сметка на клиента)</div>
            </price>
            <price ng-show="theDeliveryIsFree()">Безплатна</price>
        </delivery>
        <total>Общо: <price>{{ totalPrice }}</price></total>
        <order><a ng-href="#/order/"><icon></icon>Поръчай сега</a></order>
    </cart>
    <hint>Плащане при доставка</hint>
</right>