<panel class="autoHeight">
    <path>
        <step><a href="#">Започни нова поръчка</a></step>
        <step class="current">Поръчката е успешна</step>
    </path>

    <step5>
        <notification>
            <icon></icon>
            <title>Поръчката е успешна</title>
            Благодарим ви че поръчахте вашите магнити
        </notification>
        <orderinfo>
            <title>Поръчка</title>
            <field><icon class="icon-cart"></icon><label>Поръчка:</label>   {{ information.orderNumber }}</field>
            <field><icon class="icon-pack"></icon><label>Брой пакети ({{ packsCount }}):</label> {{ totalPrice }}</field>
            <field><icon class="icon-delivery"></icon><label>Доставка:</label>
                <a ng-hide="theDeliveryIsFree()" target="_econt_tarrifs" href="http://localhost.magnito.net/delivery/">Доставка с Еконт <span class="bill">(за сметка на клиента)</span></a>
                <span ng-show="theDeliveryIsFree()">Безплатна</span>
            </field>
        </orderinfo>
        <information>
            <title>Информация за доставка</title>
            <field><icon class="icon-person"></icon><label>Име:</label> {{ information.name }}</field>
            <field><icon class="icon-email"></icon><label>Email:</label> {{ information.email }}</field>
            <field><icon class="icon-phone"></icon><label>Телефон:</label> {{ information.phone }} </field>
            <field><icon class="icon-address"></icon><label>Адрес:</label> {{ information.address }}</field>
            <field><icon class="icon-note"></icon><label>Бележки:</label> {{ information.notes }}</field>
        </information>
        <hint>За промени по поръчката или въпроси, пишете ни на: <a href="#">contacts@magnito.net</a></hint>
    </step5>
</panel>


<right>
    <cart>
        <packets><icon></icon>Пакети (<semibold>{{ packsCount }}</semibold>) <price>{{ totalPrice }}</price></packets>
        <delivery ng-class="{ 'notfree' : !theDeliveryIsFree() }"><icon></icon>Доставка
            <price ng-hide="theDeliveryIsFree()">
                <a target="_econt_tarrifs" href="http://localhost.magnito.net/delivery/">Доставка с Еконт</a>
                <div class="bill">(за сметка на клиента)</div>
            </price>
            <price ng-show="theDeliveryIsFree()">Безплатна</price>
        </delivery>
        <total>Общо: <price>{{ totalPrice }}</price></total>
    </cart>
    <hint>Плащане при доставка</hint>
</right>
