<panel>
    <path>
        <step><a href="#">Избери снимка</a></step>›
        <step class="current">Изрежи</step>›
        <step>Добави ефекти</step>
    </path>

    <step2>
        <overlay>
            <top></top>
            <left></left>
            <bottom></bottom>
            <right></right>
        </overlay>
        <framer></framer>
        <photoframe></photoframe>
        <imageholder>
            <img ng-src="{{ selectedSource }}" />
        </imageholder>
    </step2>

    <buttons>
        <button class="green button" ng-click="gotoEffects()"><icon class="right-arrow"></icon>Продължи към ефектите</button>
    </buttons>
</panel>


<rightBar></rightBar>