<panel>
    <path>
        <step><a href="#">Избери снимка</a></step>›
        <step><a href="#/crop/">Изрежи</a></step>›
        <step class="current">Добави ефекти</step>
    </path>

    <step3>
        <photoframe></photoframe>
        <photoborder></photoborder>

        <renderer ng-show="rendering">
            <bg></bg>
            <focus><img src="/assets/img/ajax-loader.gif" width="16" height="16" alt="" /> Прилагане на филтър</focus>
        </renderer>

        <buttons>
            <button class="green" ng-click="addToPack()" ng-disabled="isfullpack"><icon class="plus"></icon>Добави в пакета</button>
        </buttons>
    </step3>

    <borders class="square-borders">
        <icon>Фото рамки</icon>
        <border ng-click="draw($event)"><img src="/assets/img/frames/sample.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames/sample.png" /><img class="frame" src="/assets/img/frames/2.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames/sample.png" /><img class="frame" src="/assets/img/frames/3.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames/sample.png" /><img class="frame" src="/assets/img/frames/4.png" id="defaultFrame" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames/sample.png" /><img class="frame" src="/assets/img/frames/5.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames/sample.png" /><img class="frame" src="/assets/img/frames/6.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames/sample.png" /><img class="frame" src="/assets/img/frames/7.png" /></border>
    </borders>

    <borders class="rectangular-borders">
        <icon>Фото рамки</icon>
        <border ng-click="draw($event)"><img src="/assets/img/frames-rectangular/sample.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames-rectangular/sample.png" /><img class="frame" src="/assets/img/frames-rectangular/2.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames-rectangular/sample.png" /><img class="frame" src="/assets/img/frames-rectangular/3.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames-rectangular/sample.png" /><img class="frame" src="/assets/img/frames-rectangular/4.png" id="defaultFrame" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames-rectangular/sample.png" /><img class="frame" src="/assets/img/frames-rectangular/5.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames-rectangular/sample.png" /><img class="frame" src="/assets/img/frames-rectangular/6.png" /></border>
        <border ng-click="draw($event)"><img src="/assets/img/frames-rectangular/sample.png" /><img class="frame" src="/assets/img/frames-rectangular/7.png" /></border>
    </borders>

    <filters>
        <filter ng-click="fx()"><img src="/assets/img/filters/landscape/normal.png" width="50" height="50" alt="">Normal</filter>
        <filter ng-click="fx('vintage')"><img src="/assets/img/filters/landscape/vinage.png" width="50" height="50" alt="">Vintage</filter>
        <filter ng-click="fx('lomo')"><img src="/assets/img/filters/landscape/lomo.png" width="50" height="50" alt="">Lomo</filter>
        <filter ng-click="fx('clarity')"><img src="/assets/img/filters/landscape/clarity.png" width="50" height="50" alt="">Clarity</filter>
        <filter ng-click="fx('oldboot')"><img src="/assets/img/filters/landscape/oldboot.png" width="50" height="50" alt="">OldBoot</filter>
        <filter ng-click="fx('nostalgia')"><img src="/assets/img/filters/landscape/nostalgia.png" width="50" height="50" alt="">Nostalgia</filter>
        <filter ng-click="fx('sunrise')"><img src="/assets/img/filters/landscape/sunrise.png" width="50" height="50" alt="">Sunrise</filter>
    </filters>
</panel>



<rightBar></rightBar>