<panel class="autoHeight">

        <step4>
            <path>
                <step class="current">Информация за доставка</step>
            </path>

            <notification>
              <strong>Моля попълни твоите данни, за да знаем къде да изпратим твоята поръчка.</strong>
              Всички полета без "Бележки" са задъльжителни.
            </notification>

            <preloader ng-show="loading">
                <bg></bg>
                <focus>
                    <img src="/assets/img/ajax-loader.gif" width="16" height="16" alt="" /> Зареждане
                </focus>
            </preloader>

            <error ng-show='errorStatus'>
                <bg></bg>
                <focus>
                    <title>Грешка - {{ errorStatus }}!</title>
                    {{ errorDescription }}
                    <br />
                    <button class="red" ng-click="closeError()">затвори</button>
                    <icon></icon>
                </focus>
            </error>

            <form name="formOrder" ng-submit="submitOrder()">

            <information>

                <field>
                    <label for="info-name">Име и Фамилия*:</label>
                    <inputwrapper>
                        <input id="info-name" name="fullname" type="text" ng-model="information.name" ng-minlength="10" required />
                        <status class="invalid" ng-show="formOrder.name.$error.required && formOrder.name.$dirty">Полето е задължително</status>
                        <status class="invalid" ng-show="formOrder.name.$error.minlength && formOrder.name.$dirty">Мин. дължина е 10 симвула</status>
                    </inputwrapper>
                    <hint>Иван Иванов</hint>
                </field>

                <field>
                    <label for="info-email">Email*:</label>
                    <inputwrapper>
                        <input id="info-email" name="email" type="email" ng-model="information.email" ng-minlength="5" required />
                        <status class="invalid" ng-show="formOrder.email.$error.email && formOrder.email.$dirty">Не е валиден email!</status>
                        <status class="invalid" ng-show="formOrder.email.$error.required && formOrder.email.$dirty">Полето е задължително</status>
                        <status class="invalid" ng-show="formOrder.email.$error.minlength && formOrder.email.$dirty">Мин. дължина е 5 симвула</status>
                    </inputwrapper>
                    <hint>ivan.ivanov@gmail.com</hint>
                </field>

                <field>
                    <label for="info-phone">Телефон за връзка*:</label>
                    <inputwrapper>
                        <input
                                id="info-phone"
                                name="phone"
                                type="text"
                                ng-model="information.phone"
                                ng-pattern="/^[\d\s]*$/"
                                ng-minlength="5"
                                required
                        />
                        <status class="invalid" ng-show="formOrder.phone.$error.required && formOrder.phone.$dirty">Полето е задължително</status>
                        <status class="invalid" ng-show="formOrder.phone.$error.minlength && formOrder.phone.$dirty">Мин. дължина е 5 симвула</status>
                        <status class="invalid" ng-show="formOrder.phone.$error.pattern && formOrder.phone.$dirty">Телефонния номер може да е съставен само от цифри</status>
                    </inputwrapper>
                    <hint>0888 888888</hint>
                </field>

                <field>
                    <label for="info-address">Адрес за доставка*:</label>
                    <inputwrapper>
                        <input id="info-address" name="address" type="text" class="address" ng-model="information.address" ng-minlength="10" required />
                        <status class="invalid" ng-show="formOrder.address.$error.required && formOrder.address.$dirty">Полето е задължително</status>
                        <status class="invalid" ng-show="formOrder.address.$error.minlength && formOrder.address.$dirty">Мин. дължина е 10 симвула</status>
                    </inputwrapper>
                    <hint>София, кв. Лозенец, ул.Купена 1, wh. A. ap. 1</hint>
                </field>

                <field>
                    <label for="info-note">Бележки:</label>
                    <textarea id="info-note" name="notes" ng-model="information.notes"></textarea>
                </field>

                <field>
                    <input type="checkbox" ng-required="true" id="info-terms" />
                    <label for="info-terms">Съгласявам се с <a href="/terms" target="_terms">условия за ползване</a></label>
                </field>

            </information>

            <buttons>
                <button class="green button" ng-disabled="!formOrder.$valid">Завърши поръчката</button><br />
                <small ng-show="!formOrder.$valid">Може да продължиш само, ако всички задължителни полета са попълнени правилно</small><br />
            </buttons>

            </form>
        </step4>
</panel>

<br />

<right>
    <cart>
        <packets><icon></icon>Пакети (<semibold>{{ packsCount }}</semibold>) <price>{{ totalPrice }}</price></packets>
        <delivery ng-class="{ 'notfree' : !theDeliveryIsFree() }"><icon></icon>Доставка
            <price ng-hide="theDeliveryIsFree()">
                <a target="_econt_tarrifs" href="http://localhost.magnito.net/delivery/">Доставка с Еконт</a>
                <div class="bill">(за сметка на клиента)</div>
            </price>
            <price ng-show="theDeliveryIsFree()">Безплатна</price>
        </delivery>
        <total>Общо: <price>{{ totalPrice }}</price></total>
    </cart>
    <hint>Плащане при доставка</hint>
    <buttons>
        <a ng-href="#/cart/" class="button green"><strong>Обратно в кошницата</strong></a>
    </buttons>
</right>