<panel>
    <path>
        Избери предпочитания тип формат.
    </path>

    <button ng-click="setTypeToRectangular(false)">Квадрат</button>
    <button ng-click="setTypeToRectangular(true)">Правоъгълник</button>
</panel>
