<panel>
    <path ng-show="!selectedSource">
        <step class="current">Избери снимка</step>›
        <step>Изрежи</step>›
        <step>Добави ефекти</step>
    </path>

    <step1 ng-show="!selectedSource">
        <internet ng-click="selectResourceProvider('internet')">
            <icon></icon>
            <title>От Интернет</title>
            <p>Избери снимка от <br />интернет.</p>
        </internet>
        <upload ng-click="selectResourceProvider('upload')">
            <icon></icon>
            <title>От твоя компютър</title>
            <p>Избери снимка от <br />компютъра си.</p>
        </upload>
        <facebook ng-click="selectResourceProvider('facebook')">
            <icon></icon>
            <title>От Facebook</title>
            <p>Избери снимка от<br />твоя Facebook.</p>
        </facebook>
        <gallery ng-click="selectResourceProvider('gallery')">
            <icon></icon>
            <title>От Галерия</title>
            <p>Избери снимка от<br />нашата галерия.</p>
        </gallery>
    </step1>

    <tabs ng-show="selectedSource">
        <tab-bar>
            <tab id="InternetTabBtn"    ng-class="{selected: selectedSource=='internet'}"   ng-click="selectResourceProvider('internet')"><icon></icon>От Интернет</tab>
            <tab id="UploadTabBtn"      ng-class="{selected: selectedSource=='upload'}"   ng-click="selectResourceProvider('upload')"><icon></icon>От твоя компютър</tab>
            <tab id="FacebookTabBtn"    ng-class="{selected: selectedSource=='facebook'}"   ng-click="selectResourceProvider('facebook')"><icon></icon>От Facebook</tab>
            <tab id="GalleryTabBtn"     ng-class="{selected: selectedSource=='gallery'}"   ng-click="selectResourceProvider('gallery')"><icon></icon>От Галерия</tab>
        </tab-bar>

        <preloader ng-show="loading">
            <bg></bg>
            <focus>
                <img src="/assets/img/ajax-loader.gif" width="16" height="16" alt="" /> Зареждане
            </focus>
        </preloader>

        <error ng-show='errorStatus'>
            <bg></bg>
            <focus>
                <title>Грешка - {{ errorStatus }}!</title>
                {{ errorDescription }}
                <br />
                <button class="red" ng-click="closeError()">затвори</button>
                <icon></icon>
            </focus>
        </error>

        <tab-content id="InternetTabContent" ng-show="selectedSource=='internet'">
            <vcenter>
                <form name="selectInternetFrom" ng-submit="getPhotoFromUrl()">
                <input
                        type="url"
                        ng-model="resourceUrl"
                        ng-min-length="10"
                        name="url"
                        required
                        ng-pattern="/.*\.(png|jpg|jpeg|gif)$/"
                    />
                    <button class="green big" ng-disabled="!selectInternetFrom.$valid"><icon class="globe"></icon></button>

                    <hint class="invalid" ng-show="selectInternetFrom.url.$error.required && selectInternetFrom.url.$dirty">Полето е задължилтено</hint>
                    <hint class="invalid" ng-show="selectInternetFrom.url.$error.url && selectInternetFrom.url.$dirty">Не е валиден интернет адрес</hint>
                    <hint class="invalid" ng-show="selectInternetFrom.url.$error.pattern && selectInternetFrom.url.$dirty">Адресът не сочи към картинка (.png/.jpg/.bmp)</hint>

                    <hint>
                        може да използваш снимки с разширение <semibold>.jpg</semibold>, <semibold>.png</semibold> and <semibold>.bmp</semibold>
                        <br />(http://www.sample.com/folder/targeted-photo.jpg)
                    </hint>
                </form>
            </vcenter>
        </tab-content>

        <tab-content id="UploadTabContent" ng-show="selectedSource=='upload'">
            <vcenter>
                <form id="imageform" method="post" enctype="multipart/form-data" action='ajaxupload.php'>
                    <input type="file" id="fileSelectInput" name="photoimg" />
                    <span class="button red big">Избери снимка</span>
                    <hint>може да използваш само файлове с разширение<br />.jpg, .png и .bmp</hint>
                </form>
            </vcenter>
        </tab-content>

        <tab-content id="FacebookTabContent" ng-show="selectedSource=='facebook'">
            <div id="facebookpath">
                <div class="current">{{ currentFacebookAlbum }}</div>
                <a href="#" ng-show="facebookAlbumSelected" ng-click="selectResourceProvider('facebook')">назад към всички албуми</a>
            </div>
            <div id="facebookphotos"></div>
        </tab-content>

        <tab-content id="GalleryTabContent" ng-show="selectedSource=='gallery'">

        </tab-content>

        <hint class="center" ng-show="loadingFacebookPhotos"><img src="/assets/img/fb-ajax.gif" width="16" height="11" /></hint>
    </tabs>
</panel>

<rightbar></rightbar>