<!DOCTYPE html>
<html>
<head>
    <title>Изберете вашите снимки и поръчайте магнити за хладилник от магнито.нет</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/min/?f=assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />

    <!-- saving around 100ms from dns caching -->
    <link href="//www.magnito.net" rel="dns-prefetch" />
    <link href="http://www.magnito.net/" rel="prefetch" />
    <!-- <link rel="prefetch" href="/my-next-page.htm"></link> -->

    <!--[if lt IE 9]>
    <script src="/assets/scripts/oldbrowser.js"></script>
    <![endif]-->
</head>

<body ng-app="editorApp">

<header>
    <headernav>
        <wrapper ng-controller="FacebookCtrl">
            <logo>
                <a rel="prefetch" href="/" title="Магнитите за хладилник"><img src="/assets/img/logo.png" width="142" height="45" alt="Магнитите за хладилник" /></a>
            </logo>

            <nav>
                <ul>
                    <li><a rel="prefetch" href="/" title="Magnito.net - магнити за хладилник - идеален подарък">Начало</a></li>
                    <li><a rel="prefetch" href="/editor" title="Поръчване на магнити за хладилник">Поръчка</a></li>
                    <li><a rel="prefetch" href="/delivery" title="Повече информация за доставянето на магнитите за хладилник">Доставки</a></li>
                    <li><a rel="prefetch" href="/about" title="Повече информация за magnito.net">За нас</a></li>
                    <li><a rel="prefetch" href="/contacts" title="Свържете се с нас ако имате въпроси или нужда от допълнителна информация.">За контакти</a></li>
                </ul>
            </nav>

            <facebookuser ng-show="avatar"><img ng-src="{{ avatar }}" /> {{ fbuser.name }} <div class="logout" ng-click="facebookLogOut()">изход</div></facebookuser>
            <button ng-disabled="!facebookReady" ng-hide="fbuser.name" ng-click="facebookLogin()" class="blue" id="facebook-login">
                <icon></icon>
                Facebook Login
            </button>
        </wrapper>
    </headernav>
</header>

<content>
    <wrapper>
        <editor class="container" ng-view></editor>
        <div id="offscreen"></div>
        <div id="bigcanvasholder"></div>
        <div id="temp"></div>
        <div id="facebookphotosholder"></div>
        <div id="facebookalbumholder"></div>
    </wrapper>
</content>

<footer>
    <wrapper>
        © 2012-2013 <a href="/" class="textlike" title="Магнити за хладилник със снимка.">Magnito.net</a>

        <nav>
            <ul>
                <li><a href="http://www.magnito.net/" title="Магнити за хладилник">Начало</a></li>
                <li><a href="/about" title="Поръчване на магнити за хладилник">За нас</a></li>
                <li><a href="/faq" title="Често задавани въпроси">FAQ</a></li>
                <li><a href="/terms" title="Запознайте се с нашите условия за ползване">Условия за ползване</a></li>
                <li><a href="/privacy" title="Информация, за това как работим с вашите лични данни">Лични данни</a></li>
                <li><a href="/gallery" title="Галерия с картинки подходящи за магнити за хладилник">Галерия с магнити</a></li>
                <li><a href="/contacts" title="Свържете се с нас ако имате въпроси или нужда от допълнителна информация.">За контакти</a></li>
            </ul>
        </nav>

        <facebook>
            <a href="http://pinterest.com/magnitonet/fridge-magnets/" target="pinterest"><img src="/assets/img/pinterest.png" width="14" height="14" /></a>
            <img src="/assets/img/fb.png" width="14" height="14" />
            <a href="http://facebook.com/magnito.net" target="fb">facebook.com/magnito.net</a>
        </facebook>

        <contacts>За въпроси и информация: <br /><a href="mailto: contacts@magnito.net">contacts@magnito.net</a></contacts>
    </wrapper>
</footer>


<script type="text/javascript" src="/min/?b=assets/scripts&f=libs/jquery-1.9.0.min.js,libs/jquery-ui-1.9.2.custom.min.js,vendor/angular.min.js,app.js,controllers/select.js,controllers/crop.js,controllers/filters.js,controllers/cart.js,controllers/information.js,controllers/selectTypeCtrl.js,controllers/ordercomplete.js,controllers/facebook.js,directives/cartSelected.js,directives/rightBar.js,libs/jquery.form.js,libs/jquery.masonry.min.js,libs/caman.full.min.js"></script>

<script src="/assets/scripts/prefetch.js"></script>

<div id="fb-root"></div>
<script>
    (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39645650-1', 'magnito.net');
    ga('send', 'pageview');

</script>

<script type="text/javascript" src="/assets/scripts/track.js"></script>

</body>
</html>