/* Vars */

$max-width: 999px
$font-family: "Open Sans", "Lucida Grande", Tahoma, sand-serif
$font-size: 14px
$padding-size: 60px

$green: #96c08e
$blue: #6a7ca0
$red: #e07170
$gray: #515151
$yellow: #f0b841

$size: 400px
$panelHeight: 550px

$text-color: #514533
$link-color: #3b5fa7

$background-color: #e4e2ca

@mixin border-radius($radius: 5px)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius


@mixin box-shadow()
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3)
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3)
  box-shadow: 0 1px 2px rgba(0,0,0,0.3)


@mixin transition($time: 0.2s)
  transition: all $time
  -moz-transition: all $time /* Firefox 4 */
  -webkit-transition: all $time /* Safari and Chrome */
  -o-transition: all $time /* Opera */


@mixin transparent($opacity: 0)
  zoom: 1
  filter: alpha(opacity=$opacity)
  opacity: $opacity /100



body
  margin: 0
  background: $background-color
  overflow-x: hidden
  min-width: $max-width


body, input, select, textarea
  font-family: $font-family
  font-size: $font-size
  color: $text-color
  font-weight: 300
  line-height: 1.5

h1, h2, h3
  font-family: $font-family
  font-weight: 400
  margin-top: 0

h2, h3
  margin-top: 0

h2
  color: #333
  line-height: 1
  font-weight: 400
  font-size: 20px

h3
  margin-bottom: 5px

p,
ul
  padding: 0
  margin: 0

li
  list-style-position: inside

semibold
  font-weight: 400


a, link, button
  cursor: pointer
  outline: none

a
  color: $link-color
  text-decoration: none


a:hover
  text-decoration: underline

a.textlike
  color: $text-color !important
  text-decoration: none !important

p
  a
    text-decoration: underline

  a:hover
    text-decoration: none

img
  border: none

form
  position: relative

*
  box-sizing: border-box
  -moz-box-shadow: border-box
  -webkit-box-sizing: border-box

.normalfontsize
  font-size: $font-size
  line-height: normal

.isHidden
  display: none

.autoHeight
  height: auto

.center
  text-align: center
  vertical-align: center

[ng\:cloak],
[ng-cloak],
.ng-cloak
  display: none

/* Header section */

header
  height: 80px
  width: 100%
  position: relative
  background: #fffefc url(../img/topline.png) repeat-x top left
  border-bottom: solid 2px #e4e2d6

#indexpage headernav
  position: fixed

headernav
  position: absolute
  top: 0
  left: 0

  z-index: 10000

  height: 85px
  width: 100%

  overflow: hidden

wrapper
  width: $max-width
  margin-left: auto
  margin-right: auto
  display: block
  position: relative

facebookuser
  display: block
  position: absolute
  top: 28px
  right: 0
  font-weight: 400

  line-height: 1

  .logout
    color: $link-color
    font-size: 90%
    cursor: pointer

    &:hover
      text-decoration: underline

  img
    @include border-radius(20px)
    position: absolute
    top: -7px
    left: -48px
    width: 40px
    height: 40px

headernav nav
  position: absolute
  top: 30px
  left: 210px
  z-index: 2

headernav nav ul
  padding: 0
  margin: 0

headernav nav li
  list-style: none
  float: left

headernav nav a
  color: #7396aa
  text-decoration: none
  font-size: $font-size
  display: inline-block
  font-style: italic
  font-weight: 400
  padding: 2px 15px

#facebook-login
  display: inline-block
  position: absolute
  right: 0
  top: 22px
  font-size: $font-size - 1px
  padding-left: 10px
  padding-right: 10px

  icon
    background: url(../img/btn-icon-fb.png) no-repeat
    display: inline-block
    width: 14px
    height: 15px

    margin: -3px 4px -3px 0

logo
  display: block
  z-index: 10
  position: absolute
  left: $padding-size / 2

  h1,
  p
    display: none

logo a
  display: inline-block
  padding: 20px 0 10px 0

/* content */

content
  min-height: 500px
  display: block

#offscreen,
#temp,
#bigcanvasholder,
#facebookphotosholder,
#facebookalbumholder
  position: absolute
  left: -15000px
  top: -15000px

#facebookphotosholder
  display: none


editor
  margin: 60px 0 90px
  display: block

  /* help */

  help
    display: block
    position: absolute
    top: -30px
    right: 10px
    font-size: 90%

    i
      background: lighten($text-color, 20%)
      color: #fff
      display: inline-block
      line-height: 1
      padding: 3px 7px
      @include border-radius(12px)
      font-style: normal

    a

      color: lighten($text-color, 20%)

    a:hover
      text-decoration: none
      color: $text-color

  /* path */

  path
    display: block
    height: 35px
    top: -35px
    position: absolute
    color: lighten($text-color, 45%)

    step
      display: inline-block
      padding: 5px 10px

    step.current
      color: $text-color

  panel
    background: #fff
    @include border-radius()
    @include box-shadow()
    position: relative
    vertical-align: top
    width: 650px
    height: $panelHeight
    display: block

    vcenter
      position: absolute
      top: 50%
      left: 0
      height: 100px
      width: 100%
      margin-top: -50px
      text-align: center

    /* down control buttons */
    buttons
      position: absolute
      display: block
      text-align: center
      width: 650px
      height: 30px
      bottom: -10px
      z-index: 100

  /* pack of magnitos */

  right
    display: block
    position: absolute
    top: 0
    right: 0
    width: 320px

    buttons
      display: block
      margin-top: 17px
      text-align: center

      a
        margin: 0 1px

    hint
      width: 320px
      display: inline-block
      text-align: center
      font-size: 90%
      margin-top: 10px
      color: lighten($text-color, 35%)

  left
    display: block
    width: 650px

    pack
      height: 320px
      margin-bottom: 20px

    selected
      position: relative
      display: block
      margin-bottom: 20px
      border-bottom: solid 1px #e0e0d1

      .red
        margin-top: 5px

    tools
      position: absolute
      top: 5px
      left: 350px

      select
        display: block
        margin-bottom: 15px

      button
        display: block

        &.red
          @include transparent(20)

        &.red:hover
          @include transparent(100)

  pack
    background: #fff
    @include border-radius()
    width: 320px
    height: 380px
    text-align: center
    padding-top: 7px
    padding-left: 0
    display: block

    @include box-shadow()

    button
      margin-top: 13px

    magnit
      width: 100px
      height: 100px
      display: inline-block
      position: relative
      margin: -1px 2px
      background: #eee url(../img/img.png) no-repeat center
      box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.04)

      canvas
        position: absolute
        top: 0
        left: 0

      add,
      del
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        @include transparent()
        @include transition()
        z-index: 10
        display: block
        cursor: pointer

        &:hover
          @include transparent(100)

      add
        background: url(../img/icon-add.png) no-repeat center

      del
        background: url(../img/icon-remove.png) no-repeat center


/* STEP 1 - selecting image */

step1
  display: block

  internet,
  upload,
  facebook,
  gallery
    display: block
    width: 25%
    position: absolute
    top: 0
    bottom: 0
    border-right: solid 1px #eeedde
    padding: 175px 0 0
    text-align: center
    cursor: pointer
    @include transition()

  icon
    display: inline-block
    margin-bottom: 10px
    height: 80px

  p
    font-size: 90%

  title
    display: block
    font-weight: 600
    text-transform: uppercase
    padding: 0 10px 6px
    line-height: 130%

  gallery
    right: 0
    border: none

    &:hover
      background: $yellow
      color: #ffffff

      icon
        background-image: url(../img/s1-gallery-hover.png)

    icon
      background: url(../img/s1-gallery.png) no-repeat bottom
      width: 73px

  internet
    left: 0

    &:hover
      background: $green
      color: #ffffff

      icon
        background-image: url(../img/s1-internet-hover.png)

    icon
      background: url(../img/s1-internet.png) no-repeat bottom
      width: 73px

  upload
    left: 25%

    &:hover
      background: $red
      color: #ffffff

      icon
        background-image: url(../img/s1-upload-hover.png)

    icon
      background: url(../img/s1-upload.png) no-repeat bottom
      width: 81px

  facebook
    left: 50%

    &:hover
      background: $blue
      color: #ffffff
      text-shadow: 0 1px 1px rgba(0,0,0,0.2)

      icon
        background-image: url(../img/s1-facebook-hover.png)

    icon
      background: url(../img/s1-facebook.png) no-repeat bottom
      width: 65px

tabs

  tab-bar
    position: absolute
    height: 40px
    top: -40px
    left: 10px

    tab
      height: 45px
      display: inline-block
      padding: 10px 12px
      font-weight: 400
      font-size: 90%
      cursor: pointer
      -webkit-border-top-left-radius: 5px
      -webkit-border-top-right-radius: 5px
      -moz-border-radius-topleft: 5px
      -moz-border-radius-topright: 5px
      border-top-left-radius: 5px
      border-top-right-radius: 5px

      icon
        display: inline-block
        width: 23px
        height: 25px
        margin: -10px 6px -10px 0

    .selected
      background: #fff

      &#InternetTabBtn
        color: $green

        icon
          background: url(../img/icon-globe-selected.png) no-repeat

      &#UploadTabBtn
        color: $red

        icon
          background: url(../img/icon-cloud-selected.png) no-repeat

      &#FacebookTabBtn
        color: $blue

        icon
          background: url(../img/icon-facebook-selected.png) no-repeat

      &#GalleryTabBtn
        color: $yellow

        icon
          background: url(../img/icon-gallery-selected.png) no-repeat


    #InternetTabBtn icon
      background: url(../img/icon-globe.png) no-repeat

    #UploadTabBtn icon
      background: url(../img/icon-cloud.png) no-repeat
      width: 32px

    #FacebookTabBtn icon
      background: url(../img/icon-facebook.png) no-repeat

    #GalleryTabBtn icon
      background: url(../img/icon-gallery.png) no-repeat

  hint
    display: block
    font-size: 90%
    margin-top: 8px
    color: lighten($text-color, 40%)

    &.invalid
      color: $red
      font-weight: 400

  #InternetTabContent
    background: url(../img/bg-internet.png) no-repeat bottom right
    input
      width: 360px

  #UploadTabContent
    background: url(../img/bg-upload.png) no-repeat bottom right

    input[type="file"]
      @include transparent()
      position: absolute
      margin-left: -103px
      margin-top: -5px
      height: 55px
      width: 260px
      cursor: pointer

  #FacebookTabContent
    background: url(../img/bg-facebook.png) no-repeat bottom right
    height: 550px
    overflow-y: scroll
    overflow-x: none
    display: block
    position: relative

    .userphoto
      width: 200px
      margin-left: 5px
      margin-bottom: 5px
      cursor: pointer
      float: left

    .userphoto img
      width: 200px

    #facebookphotos
      width: 630px
      padding: 40px 0 10px 5px
      display: block
      position: relative

    #facebookpath
      position: absolute
      top: 0
      z-index: 100
      width: 630px
      height: 40px
      background: #ffffff
      background: rgba(255,255,255,0.9)
      padding: 10px 0px
      margin-left: 10px

      .current
        float: left

      a
        position: absolute
        right: 15px
        font-size: 90%

preloader,
error,
success,
renderer
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 10
  @include transition()

  focus
    background: $green
    padding: 22px 0
    width: 220px
    text-align: center
    text-shadow: 0 1px 1px rgba(0,0,0,0.2)
    position: absolute
    top: 50%
    left: 50%
    margin-left: -110px
    margin-top: -30px !important
    color: #fff
    @include box-shadow()
    @include border-radius()

    img
      margin-bottom: -3px
      margin-right: 4px
      margin-left: -5px
      position: relative
      display: inline-block

  bg
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: #fff
    @include transparent(70)

renderer
  focus
    margin-top: 10px

error,
success
  focus
    background: #e25453
    width: 330px
    height: auto
    margin-left: -165px
    margin-top: -80px
    padding: 16px 20px
    font-size: 12px

  title
    display: block
    font-weight: 600
    margin-bottom: 0px
    font-size: 250%

  button
    margin-top: 10px

    &.red
      background: darken($red, 9%)
      z-index: 10
      @include transparent(60)

    &.red:hover
      @include transparent(100)

  icon
    background: url(../img/icon-error.png)
    width: 51px
    height: 57px
    display: block
    position: absolute
    top: -60px
    right: -50px


success
  focus
    background: $green

  a.button
    margin-top: 10px
    display: inline-block

    &.green
      background: darken($green, 9%)
      z-index: 10
      @include transparent(60)

    &.green:hover
      @include transparent(100)


#browserCheck
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 10
  .focus
    background: #fff
    color: $text-color
    padding: 20px
    width: 550px
    margin-left: -275px
    margin-top: -190px
    position: fixed
    top: 50%
    left: 50%
    height: 330px
    text-shadow: none
    text-align: center
  .bg
    background-color: #fff
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0

  .title
    display: block
    font-weight: 600
    margin-bottom: 5px
    font-size: 190%

/* STEP2 */

photoframe,
photoborder
  position: absolute
  display: inline-block
  height: $size
  width: $size
  top: ($panelHeight - $size) / 2
  left: 125px

step2
  display: block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden

  framer
    background: url(../img/framer.png) no-repeat center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden

  overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    top, right, bottom, left
      position: absolute
      background: $background-color
      z-index: 10
      @include transparent(60)

    top, bottom
      width: 100%
      height: ($panelHeight - $size) / 2

    bottom
      bottom: 0

    left, right
      width: 125px
      height: $size
      top: ($panelHeight - $size) / 2

    right
      right: 0

  imageholder
    position: absolute

    img
      cursor: pointer
      position: absolute


/* STEP 3 */

step3
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 140px

  renderer
    height: $panelHeight
    z-index: 101

  buttons
    bottom: -80px !important
    z-index: 10

  photoframe
    background: #eee url(../img/img.png) no-repeat center
    top: ($panelHeight - $size) / 2
    box-shadow: 0 5px 122px rgba(0, 0, 0, 0.1), 0 5px 62px rgba(0, 0, 0, 0.1), 0 5px 22px rgba(0, 0, 0, 0.1), 0 5px 11px rgba(0, 0, 0, 0.05)
    //this is hidding a border, borders is saved so cutting will be safer
    overflow: hidden
  photoframe canvas
    position: absolute
    top: -5px
    left: -5px
  photoborder
    top: ($panelHeight - $size) / 2
    //this is hidding a border, borders is saved so cutting will be safer
    overflow: hidden
    canvas
      position: absolute
      top: -5px
      left: -5px


filters
  width: 650px
  position: absolute
  height: 50px
  text-align: center
  bottom: -25px
  z-index: 1000

  filter
    display: inline-block
    padding: 0 6px
    font-size: 90%
    cursor: pointer

  img
    display: block
    margin-bottom: 9px

    box-sizing: content-box
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box

    @include border-radius()
    border: solid 3px #fff
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)

borders
  position: absolute
  width: 650px
  top: 15px
  text-align: center

  icon
    display: none
    //display: inline-block
    //position: absolute
    //background: url(../img/icon-borders.png) no-repeat left center
    //width: 300px
    //left: 270px
    //top: 5px

    //font-weight: 600
    //color: $text-color
    //font-size: 110%
    //text-align: left

    //padding: 10px 0 10px 37px

    //@include transparent(40)
    //@include transition()
    //cursor: pointer

  //&:hover
    icon
      @include transparent(0)

    border
      @include transparent(100)


  border
    //@include transition()
    //@include transparent()
    display: inline-block
    margin: 0 2px
    cursor: pointer
    width: 50px
    height: 50px
    position: relative

  img
    position: absolute
    top: 0
    left: 0
    width: 50px
    height: 50px

/* */

delivery.notfree
  padding-bottom: 29px

.bill
  font-size: 80%
  color: #aaa

cart
  @include border-radius()
  @include box-shadow()
  background: #fff
  display: block
  position: relative
  width: 320px
  top: 0

  price
    position: absolute
    right: 15px
    font-weight: 600
    color: $green

  icon
    width: 22px
    height: 21px
    display: inline-block
    position: relative
    margin: -10px 5px -6px 0

  packets
    border-bottom: solid 1px #e2e1d5

    icon
      background: url(../img/cart-icon-pack.png) no-repeat

  delivery icon
    background: url(../img/cart-icon-delivery.png) no-repeat
    margin-bottom: -9px

  packets,
  delivery
    display: block
    padding: 12px 15px 12px
    position: relative

  total
    background: $gray
    color: #fff
    font-size: 140%
    display: block
    font-weight: 400
    padding: 15px

    price
      color: #fff
      font-weight: 400

  order
    background: $green
    color: #fff
    font-weight: 400
    text-align: center
    font-size: 170%
    text-shadow: 0 1px 2px rgba(0,0,0,0.1)
    display: block
    cursor: pointer
    @include transition()

    a
      display: block
      height: 100%
      color: #fff
      text-decoration: none !important
      padding: 28px 0 22px

    icon
      display: inline-block
      width: 45px
      height: 43px

      background: url(../img/icon-big-cart.png) no-repeat

      margin-bottom: -13px
      margin-right: 8px
      margin-left: -10px

    &:hover
      box-shadow: inset 0 0 0 100px rgba(0,0,0,0.1)

/* */

input,
textarea
  @include border-radius()
  border: solid 1px #e8e7da
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.5)
  padding: 5px 7px

/* button styles */


[disabled]
  @include transparent(40)
  cursor: default

span.button,
a.button
  display: inline-block

button,
.button
  cursor: pointer
  text-decoration: none
  @include border-radius()
  border: 0

  font-size: $font-size

  background-color: $gray
  color: #ffffff
  text-shadow: 0 1px 0 rgba(0,0,0,0.3)

  padding: 7px 15px 10px
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.1)
  //@include transition()

  &:active
    padding: 7px 15px 10px
    box-shadow: 0 1px 0 rgba(255,255,255,0.1)

  &:hover
    text-decoration: none

  &.big
    padding: 10px 20px
    font-weight: 600

  &.red
    background: $red

  &.blue
    background: $blue

  &.green
    background: $green

  icon
    display: inline-block
    margin: -8px 4px -4px 0
    background-position: center
    background-repeat: no-repeat

  .plus
    background-image: url(../img/btn-icon-plus.png)
    height: 15px
    width: 15px

  .cart
    background-image: url(../img/btn-icon-cart.png)
    width: 23px
    height: 18px

  .right-arrow
    background-image: url(../img/btn-icon-right-arrow.png)
    width: 14px
    height: 14px

  .globe
    background-image: url(../img/btn-icon-globe.png)
    width: 23px
    height: 23px
    margin: -7px

/* STEP 4 - order information */

step4
  notification
    display: block
    padding: 20px
    color: #fff
    background: $blue
    text-shadow: 0 1px 1px rgba(0,0,0,0.2)

    strong
      font-weight: 400
      display: block
      font-size: 110%

  buttons
    bottom: -50px !important

field
  display: block
  padding: 15px 0 10px 20px

  border-bottom: solid 1px #e2e1d5

  label
    display: block
    font-weight: 400

  input
    width: 290px
    font-weight: 600

    &.address
      width: 500px

  input[type="checkbox"]
    width: auto
    float: left

  textarea
    width: 500px
    height: 100px
    font-weight: 600
    resize: none

  hint
    color: lighten($text-color, 40%)
    font-size: 90%
    display: block
    margin-top: 3px

/* STEP 5 */

step5
  notification
    background: $green
    color: #fff
    display: block

    text-align: center
    padding: 50px 0 40px

    icon
      background: url(../img/icon-notification-success.png) no-repeat
      display: inline-block
      width: 59px
      height: 53px

      float: left
      position: relative
      margin-right: -110px
      margin-left: 130px
      margin-bottom: -20px
      margin-top: 5px

    title
      font-size: 220%
      font-weight: 600
      display: block

  field
    display: block
    padding: 5px 20px
    font-weight: 400

    label
      font-weight: 300
      color: $text-color
      display: inline-block
      width: 120px

  orderinfo,
  information
    margin-top: 20px
    padding-bottom: 20px
    display: block

    title
      font-weight: 600
      display: block
      padding: 0 20px

    icon
      display: inline-block
      width: 24px
      height: 24px

      margin-right: 5px
      margin-bottom: -6px

  hint
    font-size: 90%
    padding: 15px
    display: block

inputwrapper
  display: block
  position: relative

  status
    display: inline-block
    height: 18px
    padding-left: 20px
    vertical-align: middle

    margin: -4px 0 -2px 5px
    font-weight: 400

  status.valid
    background: url(../img/input-success.png) no-repeat left center
    color: $green

  status.invalid
    background: url(../img/input-error.png) no-repeat left center
    color: $red

.icon-cart
  background: url(../img/icon-shopping-cart.png) no-repeat center

.icon-pack
  background: url(../img/icon-pack.png) no-repeat center

.icon-delivery
  background: url(../img/icon-delivery.png) no-repeat center

.icon-person
  background: url(../img/icon-person.png) no-repeat center

.icon-email
  background: url(../img/icon-email.png) no-repeat center

.icon-phone
  background: url(../img/icon-phone.png) no-repeat center

.icon-address
  background: url(../img/icon-address.png) no-repeat center

.icon-note
  background: url(../img/icon-note.png) no-repeat center

/* footer section */

footer
  display: block
  width: 100%

  background: darken($background-color, 6%)

  padding-top: 40px
  padding-bottom: 50px

  font-size: 90%
  position: relative

  wrapper
    padding-left: $padding-size / 2

  facebook
    display: block
    margin-top: 40px

  facebook img
    margin-bottom: -3px

  nav li
    list-style: none
    float: left

  nav ul
    margin: 0
    padding: 0
    margin-left: -10px

  nav li a
    display: inline-block
    padding: 4px 10px

  contacts
    position: absolute
    right: $padding-size / 2
    top: 0
    text-align: right


/* Angular styles */

input.ng-dirty
  &.ng-invalid
    border-color: $red
  &.ng-valid
    border-color: $green

/* jquery */

.ui-resizable
  position: relative

.ui-resizable-handle
  position: absolute
  font-size: 0.1px
  display: block
  //display: none !important

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle
  display: none

.ui-resizable-n
  cursor: n-resize
  top: -5px
  left: 0

.ui-resizable-s
  cursor: s-resize
  bottom: -5px
  left: 0

.ui-resizable-e
  cursor: e-resize
  top: 0
  height: 100%

.ui-resizable-w
  cursor: w-resize
  top: 0
  height: 100%

.ui-resizable-se
  cursor: se-resize
  right: -4px
  bottom: -4px

.ui-resizable-sw
  cursor: sw-resize
  left: -4px
  bottom: -4px

.ui-resizable-nw
  cursor: nw-resize
  left: -4px
  top: -4px

.ui-resizable-ne
  cursor: ne-resize
  right: -4px
  top: -4px


.ui-wrapper
  /* something is hiding the holders */
  overflow: visible !important
  position: absolute !important

.ui-resizable-ne,
.ui-resizable-nw,
.ui-resizable-sw,
.ui-resizable-se
  border: solid 2px #000
  width: 8px
  height: 8px
  background: none
  z-index: 1000
  box-shadow: 0 0 2px rgba(255,255,255,0.6)

.ui-draggable
  box-shadow: 0 1px 1px #aaa
  position: absolute !important

.browsers
  display: block
  margin-top: 30px

  .chrome,
  .safari,
  .ie,
  .firefox
    display: block
    float: left
    width: 25%
    text-align: center
    vertical-align: top
    padding-top: 7px

  a
    font-weight: 600
    display: block

  .icon
    display: inline-block
    width: 64px
    height: 64px
    background: url(../img/browsers.png) no-repeat

  .chrome .icon
    background-position: -5px

  .firefox .icon
    background-position: -75px 0

  .safari .icon
    background-position: -205px 1px

  .ie .icon
    background-position: -277px



/* ================================== */
/* PAGES */
/* ================================== */

#indexpage content,
articlewrapper
  background: #fff
  padding-top: $padding-size / 3
  width: $max-width
  display: block
  margin-left: auto
  margin-right: auto
  position: relative

  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2)

  font-size: $font-size * 1.1
  line-height: $font-size * 1.95

articlewrapper
  margin-top: 30px
  margin-bottom: 50px
  padding: $padding-size / 2
  @include border-radius()
  @include box-shadow()

  text-align: justify
  text-justify: inter-word
  word-wrap: break-word


.img
  position: absolute

#indexpage > content
  background: #eeedde
  z-index: 1000
  position: relative
  margin: 0
  width: 100%
  padding-top: 0
  padding-bottom: 50px

  #index
    background: #fff
    box-shadow: 0 1px 2px rgba(0,0,0,0.1)


#indexpage content section
  padding: $padding-size
  border-bottom: 1px solid #DBDBEA
  background: url("../img/sectionbg.png") repeat-x bottom left
  position: relative
  line-height: 1.8

  p
    text-align: justify
    text-justify: inter-word
    word-wrap: break-word


#indexpage content #gallery-wrapper
  background: url("../img/gallery-magnets.jpg") no-repeat
  height: 421px
  border-bottom: none


.gallery-free-to-use
  background: #fff
  background: rgba(255, 255, 255, 0.98)
  padding: $padding-size / 2
  box-shadow: 0 5px 20px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.2)
  @include border-radius(10px)
  position: absolute
  width: 500px
  top: 100px
  right: $padding-size * 1.5

  p
    line-height: 1.5

/* */

.quality
  padding-right: $padding-size + 190

  img
    right: 0
    top: 50px


/* */

.for-all
  padding-top: 20px
  padding-bottom: $padding-size + 230

  img
    left: 0
    bottom: 0


/* */

.ideal-personal-gift
  padding-left: $padding-size + 140
  padding-top: 20px

  img
    left: 0
    bottom: -50px


/* */

.fast-delivery
  padding-left: $padding-size + 270
  padding-top: 35px

  img
    left: 0
    top: 40px

/* */
//
//#feedback-clients-wrapper
//  display: none

#feedback-clients-wrapper
  background: url("/assets/img/customer-feedback.png") no-repeat right bottom !important
  height: 345px

  pagging
    display: block
    font-size: 10px
    position: absolute
    bottom: 30px

    page
      float: left
      margin-right: 5px
      display: block
      cursor: pointer
      text-align: center
      border: solid 1px #ddd
      width: 20px
      height: 20px
      border-radius: 10px
      -moz-border-radius: 10px
      @include transition()
      
      &:hover
        background: #fafafa
      
      &.selected
        background: #ddd
        font-weight: 600

  arrow
    display: block
    position: absolute
    right: -10px
    top: 15px
    width: 0
    height: 0
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-left: 10px solid #ddd

    bg
      display: block
      position: absolute
      top: -9px
      right: 1px
      width: 0
      height: 0
      border-top: 9px solid transparent
      border-bottom: 9px solid transparent
      border-left: 9px solid #fff

magniti-feedback
  top: 97px
  position: absolute
  width: 700px
  text-align: left
  display: block
  border: solid 1px #ddd
  background: #fff
  padding: 15px
  margin-bottom: 10px
  @include border-radius(15px)

  .avatar
    height: 40px
    width: 40px
    border-radius: 20px
    float: left
    margin-right: 15px

  .name
    display: block
    margin-top: -3px
    margin-bottom: -6px
    font-weight: 600

  .date
    font-size: 80%
    color: #aaa
    display: block
    
  p
    display: block
    clear: both
    line-height: 1.5
    font-size: 90%
    padding-left: 55px
    padding-top: 5px
    text-align: left !important

/* */

.feedback
  text-align: center

  a, a:hover
    margin-top: 5px
    padding: 8px 20px

  a:hover
    background: darken(#6a7ca0, 5%)


/* index header */

#indexpage header
  height: 680px
  position: relative
  background: #000

#indexpage .header-image
  height: 680px

#indexpage header background
  text-align: center
  display: block
  background: #000
  position: fixed
  top: 0
  width: 100%

#header-image-overlay
  background: #000
  height: 680px
  width: 100%
  @include transparent(0)
  z-index: 1000
  display: none
  position: absolute
  top: 0
  left: 0

//media query

@media screen and (max-width: 1367px)
  #indexpage header
    height: 630px
    width: auto

  #indexpage whatwedo
    top: -410px !important

  #indexpage .header-image
    height: 645px
    position: relative
    left: -20px

@media screen and (max-width: 1025px)
  #indexpage header
    height: 600px
    width: auto

  #indexpage whatwedo
    top: -390px !important

  #indexpage .header-image
    height: 615px
    position: relative
    left: -90px


@media screen and (max-width: 900px)
  #indexpage header
    height: 600px
    width: auto

  #indexpage whatwedo
    top: -380px !important

  #indexpage .header-image
    height: 600px
    position: relative
    left: -190px



//end of media query

#indexpage header nav a
  color: #ddd

  &:hover
    text-decoration: none
    color: #fff

#indexpage header bg
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #000
  @include transparent(70)

#indexpage header section
  width: $max-width
  height: 682px
  color: #fff
  margin-left: auto
  margin-right: auto
  position: relative
  z-index: 100

header-info
  width: $max-width
  display: block
  margin-left: auto
  margin-right: auto
  padding: 0
  top: 0px
  position: relative
  z-index: 100
  color: #ffffff
  height: 0

#indexpage whatwedo
  font-size: $font-size * 1.4
  line-height: 1.5
  font-weight: 300
  position: absolute
  top: -450px
  left: $padding-size
  display:  block
  width: 370px

  text-shadow: 1px 4px 4px rgba(0,0,0,0.2), 1px 1px 1px rgba(0,0,0,0.1)


#indexpage whatwedo b
  font-size: $font-size * 3.1
  margin-bottom: 15px
  display: block


#indexpage order
  position: absolute
  bottom: 0
  left: 0

  display: block
  width: 100%
  height: 130px

  background: #000
  background: rgba(0,0,0,0.6)

  border-radius: 45px 45px 0 0
  box-shadow: inset 0 -10px 53px rgba(0,0,0,0.4)

  a
    @include transition()

  a:hover
    text-decoration: none

#indexpage
  .order-button
    display: inline-block
    background: #4ea56c
    text-decoration: none
    padding: 10px 0

    position: absolute
    left: 50%
    margin-left: -150px

    z-index: 10
    bottom: -25px
    right: $padding-size
    color: #ffffff
    font-weight: bold

    width: 300px
    text-align: center

    font-weight: bold
    font-size: $font-size * 1.4

    border-radius: 40px
    letter-spacing: 1px

    box-shadow: inset 0 1px 1px rgba(255,255,255,0.4)
    text-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,0.2)


.order-button:hover
  background: #43b269 !important


#indexpage pricetag
  display: block
  position: absolute
  left: 50%
  width: 700px
  margin-left: -350px
  text-align: center
  top: $padding-size / 3

  text-shadow: 0 3px 17px rgba(0,0,0,0.8), 0 1px 1px rgba(0,0,0,0.3)


#indexpage price
  font-size: $font-size * 3.1
  line-height: 1
  font-weight: bold

  small
    font-size: 70%
    font-weight: normal

#indexpage info
  line-height: 1.7
  padding-top: 3px
  font-size: $font-size
  display: block

row
  *zoom: 1
  display: block
  background: url("../img/sectionbg.png") repeat-x bottom left
  padding: $padding-size / 2

  h2
    margin-bottom: 13px

  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

  & > section
    float: left
    width: 33.33%
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    height: 570px
    background: none !important
    padding: $padding-size / 2 !important
    border: none !important

    p
      line-height: 1.7
      text-align: justify
      text-justify: inter-word

    img
      @include border-radius(30px)
      margin-bottom: 20px
      margin-top: 30px


// hits for ui elements

hints
  display: none
  position: absolute
  z-index: 200
  color: #eeeeee
  max-width: 250px
  padding: 10px 15px
  font-size: 90%
  background: #515151
  @include border-radius()

  pointer
    width: 0
    height: 0
    position: absolute


  &.bottom

    pointer
      top: -20px
      left: 15px
      border-left: 10px solid transparent
      border-top: 10px solid transparent
      border-right: 10px solid transparent
      border-bottom: 10px solid #515151

  &.top
    top: -20px
    left: 10px

    pointer
      bottom: -20px
      left: 15px
      border-bottom: 10px solid transparent
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-top: 10px solid #515151

  &.right
    pointer
      left: -20px
      top: 50%
      margin-top: -10px
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-left: 10px solid transparent
      border-right: 10px solid #515151

  &.left
    pointer
      right: -20px
      top: 50%
      margin-top: -10px
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 10px solid transparent
      border-left: 10px solid #515151

.facebook_album
  float: left
  width: 33.33%
  padding: 10px 5px
  text-align: center
  font-size: 90%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

  cover_photo
    display: block
    width: 195px
    height: 120px
    margin-bottom: 5px
    overflow: hidden
    position: relative

    img
      height: 120px
      @include border-radius()



.fb-like
  display: block
  height: 15px
  margin-left: 15px


.hide
  display: none

.contactForm
  width: 550px

skype
  display: block
  position: absolute
  right: 15px
  width: 360px
  padding-top: 30px

  contact
    display: inline-block
    width: 49%
    padding: 25px 5px 10px 5px
    background: #fafafa
    text-align: center
    font-size: 85%
    font-weight: 400
    @include border-radius()
    margin-top: 5px

  img
    @include border-radius

  b
    font-weight: 400
    display: block


$imgsize: 180px
$imgsize_fullsize: 330px

magnetsgallery
  display: block
  width: 940px
  height: 800px
  margin-top: 50px
  position: relative

  li
    list-style: none
    float: left
    width: $imgsize
    height: $imgsize
    margin-bottom: 8px
    margin-right: 8px
    position: relative

    img
      width: 180px
      height: 180px
      position: absolute
      top: 0
      left: 0
      @include transition()

    img:hover
      width: $imgsize_fullsize
      height: $imgsize_fullsize
      z-index: 10
      top: - ($imgsize_fullsize - $imgsize)/2
      left: - ($imgsize_fullsize - $imgsize)/2
      box-shadow: 0 5px 50px rgba(0,0,0,0.5), 0 1px 5px rgba(0,0,0,0.4), inset 0 0 1px 1px rgba(255,255,255,1)


  galleryfilters
    position: absolute
    top: -50px
    font-size: 80%

  galleryfilters filter
    float: left
    display: block
    margin-right: 4px
    padding: 2px 15px
    background: lighten($background-color, 10%)
    @include border-radius()
    @include transition()
    cursor: pointer

    &:hover
      background: lighten($background-color, 5%)

    &.active
      background: $green
      color: #fff
      cursor: default

.clear
  clear: both

//when in editor's selected tab
#GalleryTabContent
  magnetsgallery
    width: 650px
    height: 500px
    padding-left: 15px
    position: absolute

    filter
      padding: 4px 10px
      margin-top: 12px

    content
      width: 635px
      height: 500px
      overflow-x: none
      overflow-y: scroll

    li
      width: 195px
      height: 195px
      margin-bottom: 5px
      margin-right: 5px

    img, img:hover
      top: 0
      left: 0
      box-shadow: none
      cursor: pointer
      width: 195px
      height: 195px



.terms
  p
    margin: 20px 0
    line-height: 150%

  ul li
    margin: 10px 0
    line-height: 150%

  h2
    margin-top: 20px



.fluxslider
  margin: auto

  .pagination
    position: absolute
    top: 380px
    width: 999px
    left: 50%
    margin-left: -498px !important
    z-index: 1000
    text-align: left !important
    padding-left: 50px !important

    li
      background: none
      border: solid 2px #fff
      border: solid 2px rgba(255,255,255,0.4)
      @include border-radius(8px)
      width: 16px
      height: 16px
      top: 0
      overflow: hidden
      text-indent: -100px
      text-size: 1px
      line-height: 1px
      margin-left: 8px !important
      list-style: none !important
      @include transition()
      box-shadow: 0 1px 2px rgba(0,0,0,0.6)

      &.current
        background: #fff



/* rectangular css */

$rectangular-width-size: 530px
$rectangular-height-size: 410px

.rectangular-borders
  display: none

  border, .frame, img
    width: 65px


.rectangular-magnets
  .rectangular-borders
    display: block

  .square-borders
    display: none

  overlay
    top, bottom
      height: ($panelHeight - $rectangular-height-size) / 2

    left, right
      width: 60px
      height: 410px
      top: ($panelHeight - $rectangular-height-size) / 2

  photoframe, photoborder
    width: $rectangular-width-size
    height: $rectangular-height-size
    top: ($panelHeight - $rectangular-height-size) / 2
    left: 60px

  step2
    framer
      background-image: url(/assets/img/framer-rectangular.png)

  editor pack magnit
    height: 77px
    width: 100px

  editor pack
    height: 330px

  editor left pack
    height: 267px