/* Vars */
body {
  margin: 0;
  background: #e4e2ca;
  overflow-x: hidden;
  min-width: 999px; }

body, input, select, textarea {
  font-family: "Open Sans", "Lucida Grande", Tahoma, sand-serif;
  font-size: 14px;
  color: #514533;
  font-weight: 300;
  line-height: 1.5; }

h1, h2, h3 {
  font-family: "Open Sans", "Lucida Grande", Tahoma, sand-serif;
  font-weight: 400;
  margin-top: 0; }

h2, h3 {
  margin-top: 0; }

h2 {
  color: #333333;
  line-height: 1;
  font-weight: 400;
  font-size: 20px; }

h3 {
  margin-bottom: 5px; }

p,
ul {
  padding: 0;
  margin: 0; }

li {
  list-style-position: inside; }

semibold {
  font-weight: 400; }

a, link, button {
  cursor: pointer;
  outline: none; }

a {
  color: #3b5fa7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a.textlike {
  color: #514533 !important;
  text-decoration: none !important; }

p a {
  text-decoration: underline; }
p a:hover {
  text-decoration: none; }

img {
  border: none; }

form {
  position: relative; }

* {
  box-sizing: border-box;
  -moz-box-shadow: border-box;
  -webkit-box-sizing: border-box; }

.normalfontsize {
  font-size: 14px;
  line-height: normal; }

.isHidden {
  display: none; }

.autoHeight {
  height: auto; }

.center {
  text-align: center;
  vertical-align: center; }

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none; }

/* Header section */
header {
  height: 80px;
  width: 100%;
  position: relative;
  background: #fffefc url(../img/topline.png) repeat-x top left;
  border-bottom: solid 2px #e4e2d6; }

#indexpage headernav {
  position: fixed; }

headernav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 85px;
  width: 100%;
  overflow: hidden; }

wrapper {
  width: 999px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative; }

facebookuser {
  display: block;
  position: absolute;
  top: 28px;
  right: 0;
  font-weight: 400;
  line-height: 1; }
  facebookuser .logout {
    color: #3b5fa7;
    font-size: 90%;
    cursor: pointer; }
    facebookuser .logout:hover {
      text-decoration: underline; }
  facebookuser img {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    position: absolute;
    top: -7px;
    left: -48px;
    width: 40px;
    height: 40px; }

headernav nav {
  position: absolute;
  top: 30px;
  left: 210px;
  z-index: 2; }

headernav nav ul {
  padding: 0;
  margin: 0; }

headernav nav li {
  list-style: none;
  float: left; }

headernav nav a {
  color: #7396aa;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  font-style: italic;
  font-weight: 400;
  padding: 2px 15px; }

#facebook-login {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 22px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px; }
  #facebook-login icon {
    background: url(../img/btn-icon-fb.png) no-repeat;
    display: inline-block;
    width: 14px;
    height: 15px;
    margin: -3px 4px -3px 0; }

logo {
  display: block;
  z-index: 10;
  position: absolute;
  left: 30px; }
  logo h1,
  logo p {
    display: none; }

logo a {
  display: inline-block;
  padding: 20px 0 10px 0; }

/* content */
content {
  min-height: 500px;
  display: block; }

#offscreen,
#temp,
#bigcanvasholder,
#facebookphotosholder,
#facebookalbumholder {
  position: absolute;
  left: -15000px;
  top: -15000px; }

#facebookphotosholder {
  display: none; }

editor {
  margin: 60px 0 90px;
  display: block;
  /* help */
  /* path */
  /* pack of magnitos */ }
  editor help {
    display: block;
    position: absolute;
    top: -30px;
    right: 10px;
    font-size: 90%; }
    editor help i {
      background: #907a5a;
      color: white;
      display: inline-block;
      line-height: 1;
      padding: 3px 7px;
      border-radius: 12px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      font-style: normal; }
    editor help a {
      color: #907a5a; }
    editor help a:hover {
      text-decoration: none;
      color: #514533; }
  editor path {
    display: block;
    height: 35px;
    top: -35px;
    position: absolute;
    color: #c6b8a4; }
    editor path step {
      display: inline-block;
      padding: 5px 10px; }
    editor path step.current {
      color: #514533; }
  editor panel {
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    vertical-align: top;
    width: 650px;
    height: 550px;
    display: block;
    /* down control buttons */ }
    editor panel vcenter {
      position: absolute;
      top: 50%;
      left: 0;
      height: 100px;
      width: 100%;
      margin-top: -50px;
      text-align: center; }
    editor panel buttons {
      position: absolute;
      display: block;
      text-align: center;
      width: 650px;
      height: 30px;
      bottom: -10px;
      z-index: 100; }
  editor right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 320px; }
    editor right buttons {
      display: block;
      margin-top: 17px;
      text-align: center; }
      editor right buttons a {
        margin: 0 1px; }
    editor right hint {
      width: 320px;
      display: inline-block;
      text-align: center;
      font-size: 90%;
      margin-top: 10px;
      color: #b2a085; }
  editor left {
    display: block;
    width: 650px; }
    editor left pack {
      height: 320px;
      margin-bottom: 20px; }
    editor left selected {
      position: relative;
      display: block;
      margin-bottom: 20px;
      border-bottom: solid 1px #e0e0d1; }
      editor left selected .red {
        margin-top: 5px; }
    editor left tools {
      position: absolute;
      top: 5px;
      left: 350px; }
      editor left tools select {
        display: block;
        margin-bottom: 15px; }
      editor left tools button {
        display: block; }
        editor left tools button.red {
          zoom: 1;
          filter: alpha(opacity=20);
          opacity: 0.2; }
        editor left tools button.red:hover {
          zoom: 1;
          filter: alpha(opacity=100);
          opacity: 1; }
  editor pack {
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 320px;
    height: 380px;
    text-align: center;
    padding-top: 7px;
    padding-left: 0;
    display: block;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    editor pack button {
      margin-top: 13px; }
    editor pack magnit {
      width: 100px;
      height: 100px;
      display: inline-block;
      position: relative;
      margin: -1px 2px;
      background: #eeeeee url(../img/img.png) no-repeat center;
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.04); }
      editor pack magnit canvas {
        position: absolute;
        top: 0;
        left: 0; }
      editor pack magnit add,
      editor pack magnit del {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        z-index: 10;
        display: block;
        cursor: pointer; }
        editor pack magnit add:hover,
        editor pack magnit del:hover {
          zoom: 1;
          filter: alpha(opacity=100);
          opacity: 1; }
      editor pack magnit add {
        background: url(../img/icon-add.png) no-repeat center; }
      editor pack magnit del {
        background: url(../img/icon-remove.png) no-repeat center; }

/* STEP 1 - selecting image */
step1 {
  display: block; }
  step1 internet,
  step1 upload,
  step1 facebook,
  step1 gallery {
    display: block;
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: solid 1px #eeedde;
    padding: 175px 0 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s; }
  step1 icon {
    display: inline-block;
    margin-bottom: 10px;
    height: 80px; }
  step1 p {
    font-size: 90%; }
  step1 title {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px 6px;
    line-height: 130%; }
  step1 gallery {
    right: 0;
    border: none; }
    step1 gallery:hover {
      background: #f0b841;
      color: white; }
      step1 gallery:hover icon {
        background-image: url(../img/s1-gallery-hover.png); }
    step1 gallery icon {
      background: url(../img/s1-gallery.png) no-repeat bottom;
      width: 73px; }
  step1 internet {
    left: 0; }
    step1 internet:hover {
      background: #96c08e;
      color: white; }
      step1 internet:hover icon {
        background-image: url(../img/s1-internet-hover.png); }
    step1 internet icon {
      background: url(../img/s1-internet.png) no-repeat bottom;
      width: 73px; }
  step1 upload {
    left: 25%; }
    step1 upload:hover {
      background: #e07170;
      color: white; }
      step1 upload:hover icon {
        background-image: url(../img/s1-upload-hover.png); }
    step1 upload icon {
      background: url(../img/s1-upload.png) no-repeat bottom;
      width: 81px; }
  step1 facebook {
    left: 50%; }
    step1 facebook:hover {
      background: #6a7ca0;
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
      step1 facebook:hover icon {
        background-image: url(../img/s1-facebook-hover.png); }
    step1 facebook icon {
      background: url(../img/s1-facebook.png) no-repeat bottom;
      width: 65px; }

tabs tab-bar {
  position: absolute;
  height: 40px;
  top: -40px;
  left: 10px; }
  tabs tab-bar tab {
    height: 45px;
    display: inline-block;
    padding: 10px 12px;
    font-weight: 400;
    font-size: 90%;
    cursor: pointer;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    tabs tab-bar tab icon {
      display: inline-block;
      width: 23px;
      height: 25px;
      margin: -10px 6px -10px 0; }
  tabs tab-bar .selected {
    background: white; }
    tabs tab-bar .selected#InternetTabBtn {
      color: #96c08e; }
      tabs tab-bar .selected#InternetTabBtn icon {
        background: url(../img/icon-globe-selected.png) no-repeat; }
    tabs tab-bar .selected#UploadTabBtn {
      color: #e07170; }
      tabs tab-bar .selected#UploadTabBtn icon {
        background: url(../img/icon-cloud-selected.png) no-repeat; }
    tabs tab-bar .selected#FacebookTabBtn {
      color: #6a7ca0; }
      tabs tab-bar .selected#FacebookTabBtn icon {
        background: url(../img/icon-facebook-selected.png) no-repeat; }
    tabs tab-bar .selected#GalleryTabBtn {
      color: #f0b841; }
      tabs tab-bar .selected#GalleryTabBtn icon {
        background: url(../img/icon-gallery-selected.png) no-repeat; }
  tabs tab-bar #InternetTabBtn icon {
    background: url(../img/icon-globe.png) no-repeat; }
  tabs tab-bar #UploadTabBtn icon {
    background: url(../img/icon-cloud.png) no-repeat;
    width: 32px; }
  tabs tab-bar #FacebookTabBtn icon {
    background: url(../img/icon-facebook.png) no-repeat; }
  tabs tab-bar #GalleryTabBtn icon {
    background: url(../img/icon-gallery.png) no-repeat; }
tabs hint {
  display: block;
  font-size: 90%;
  margin-top: 8px;
  color: #bcac94; }
  tabs hint.invalid {
    color: #e07170;
    font-weight: 400; }
tabs #InternetTabContent {
  background: url(../img/bg-internet.png) no-repeat bottom right; }
  tabs #InternetTabContent input {
    width: 360px; }
tabs #UploadTabContent {
  background: url(../img/bg-upload.png) no-repeat bottom right; }
  tabs #UploadTabContent input[type="file"] {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    margin-left: -103px;
    margin-top: -5px;
    height: 55px;
    width: 260px;
    cursor: pointer; }
tabs #FacebookTabContent {
  background: url(../img/bg-facebook.png) no-repeat bottom right;
  height: 550px;
  overflow-y: scroll;
  overflow-x: none;
  display: block;
  position: relative; }
  tabs #FacebookTabContent .userphoto {
    width: 200px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    float: left; }
  tabs #FacebookTabContent .userphoto img {
    width: 200px; }
  tabs #FacebookTabContent #facebookphotos {
    width: 630px;
    padding: 40px 0 10px 5px;
    display: block;
    position: relative; }
  tabs #FacebookTabContent #facebookpath {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 630px;
    height: 40px;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0px;
    margin-left: 10px; }
    tabs #FacebookTabContent #facebookpath .current {
      float: left; }
    tabs #FacebookTabContent #facebookpath a {
      position: absolute;
      right: 15px;
      font-size: 90%; }

preloader,
error,
success,
renderer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s; }
  preloader focus,
  error focus,
  success focus,
  renderer focus {
    background: #96c08e;
    padding: 22px 0;
    width: 220px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -30px !important;
    color: white;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    preloader focus img,
    error focus img,
    success focus img,
    renderer focus img {
      margin-bottom: -3px;
      margin-right: 4px;
      margin-left: -5px;
      position: relative;
      display: inline-block; }
  preloader bg,
  error bg,
  success bg,
  renderer bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7; }

renderer focus {
  margin-top: 10px; }

error focus,
success focus {
  background: #e25453;
  width: 330px;
  height: auto;
  margin-left: -165px;
  margin-top: -80px;
  padding: 16px 20px;
  font-size: 12px; }
error title,
success title {
  display: block;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 250%; }
error button,
success button {
  margin-top: 10px; }
  error button.red,
  success button.red {
    background: #d84c4a;
    z-index: 10;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6; }
  error button.red:hover,
  success button.red:hover {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1; }
error icon,
success icon {
  background: url(../img/icon-error.png);
  width: 51px;
  height: 57px;
  display: block;
  position: absolute;
  top: -60px;
  right: -50px; }

success focus {
  background: #96c08e; }
success a.button {
  margin-top: 10px;
  display: inline-block; }
  success a.button.green {
    background: #7bb071;
    z-index: 10;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6; }
  success a.button.green:hover {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1; }

#browserCheck {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }
  #browserCheck .focus {
    background: white;
    color: #514533;
    padding: 20px;
    width: 550px;
    margin-left: -275px;
    margin-top: -190px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 330px;
    text-shadow: none;
    text-align: center; }
  #browserCheck .bg {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  #browserCheck .title {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 190%; }

/* STEP2 */
photoframe,
photoborder {
  position: absolute;
  display: inline-block;
  height: 400px;
  width: 400px;
  top: 75px;
  left: 125px; }

step2 {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
  step2 framer {
    background: url(../img/framer.png) no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
  step2 overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    step2 overlay top, step2 overlay right, step2 overlay bottom, step2 overlay left {
      position: absolute;
      background: #e4e2ca;
      z-index: 10;
      zoom: 1;
      filter: alpha(opacity=60);
      opacity: 0.6; }
    step2 overlay top, step2 overlay bottom {
      width: 100%;
      height: 75px; }
    step2 overlay bottom {
      bottom: 0; }
    step2 overlay left, step2 overlay right {
      width: 125px;
      height: 400px;
      top: 75px; }
    step2 overlay right {
      right: 0; }
  step2 imageholder {
    position: absolute; }
    step2 imageholder img {
      cursor: pointer;
      position: absolute; }

/* STEP 3 */
step3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 140px; }
  step3 renderer {
    height: 550px;
    z-index: 101; }
  step3 buttons {
    bottom: -80px !important;
    z-index: 10; }
  step3 photoframe {
    background: #eeeeee url(../img/img.png) no-repeat center;
    top: 75px;
    box-shadow: 0 5px 122px rgba(0, 0, 0, 0.1), 0 5px 62px rgba(0, 0, 0, 0.1), 0 5px 22px rgba(0, 0, 0, 0.1), 0 5px 11px rgba(0, 0, 0, 0.05);
    overflow: hidden; }
  step3 photoframe canvas {
    position: absolute;
    top: -5px;
    left: -5px; }
  step3 photoborder {
    top: 75px;
    overflow: hidden; }
    step3 photoborder canvas {
      position: absolute;
      top: -5px;
      left: -5px; }

filters {
  width: 650px;
  position: absolute;
  height: 50px;
  text-align: center;
  bottom: -25px;
  z-index: 1000; }
  filters filter {
    display: inline-block;
    padding: 0 6px;
    font-size: 90%;
    cursor: pointer; }
  filters img {
    display: block;
    margin-bottom: 9px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 3px white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

borders {
  position: absolute;
  width: 650px;
  top: 15px;
  text-align: center; }
  borders icon {
    display: none; }
  borders border {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative; }
  borders img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px; }

/* */
delivery.notfree {
  padding-bottom: 29px; }

.bill {
  font-size: 80%;
  color: #aaaaaa; }

cart {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background: white;
  display: block;
  position: relative;
  width: 320px;
  top: 0; }
  cart price {
    position: absolute;
    right: 15px;
    font-weight: 600;
    color: #96c08e; }
  cart icon {
    width: 22px;
    height: 21px;
    display: inline-block;
    position: relative;
    margin: -10px 5px -6px 0; }
  cart packets {
    border-bottom: solid 1px #e2e1d5; }
    cart packets icon {
      background: url(../img/cart-icon-pack.png) no-repeat; }
  cart delivery icon {
    background: url(../img/cart-icon-delivery.png) no-repeat;
    margin-bottom: -9px; }
  cart packets,
  cart delivery {
    display: block;
    padding: 12px 15px 12px;
    position: relative; }
  cart total {
    background: #515151;
    color: white;
    font-size: 140%;
    display: block;
    font-weight: 400;
    padding: 15px; }
    cart total price {
      color: white;
      font-weight: 400; }
  cart order {
    background: #96c08e;
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 170%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    cursor: pointer;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s; }
    cart order a {
      display: block;
      height: 100%;
      color: white;
      text-decoration: none !important;
      padding: 28px 0 22px; }
    cart order icon {
      display: inline-block;
      width: 45px;
      height: 43px;
      background: url(../img/icon-big-cart.png) no-repeat;
      margin-bottom: -13px;
      margin-right: 8px;
      margin-left: -10px; }
    cart order:hover {
      box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1); }

/* */
input,
textarea {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #e8e7da;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  padding: 5px 7px; }

/* button styles */
[disabled] {
  zoom: 1;
  filter: alpha(opacity=40);
  opacity: 0.4;
  cursor: default; }

span.button,
a.button {
  display: inline-block; }

button,
.button {
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0;
  font-size: 14px;
  background-color: #515151;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  padding: 7px 15px 10px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  button:active,
  .button:active {
    padding: 7px 15px 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); }
  button:hover,
  .button:hover {
    text-decoration: none; }
  button.big,
  .button.big {
    padding: 10px 20px;
    font-weight: 600; }
  button.red,
  .button.red {
    background: #e07170; }
  button.blue,
  .button.blue {
    background: #6a7ca0; }
  button.green,
  .button.green {
    background: #96c08e; }
  button icon,
  .button icon {
    display: inline-block;
    margin: -8px 4px -4px 0;
    background-position: center;
    background-repeat: no-repeat; }
  button .plus,
  .button .plus {
    background-image: url(../img/btn-icon-plus.png);
    height: 15px;
    width: 15px; }
  button .cart,
  .button .cart {
    background-image: url(../img/btn-icon-cart.png);
    width: 23px;
    height: 18px; }
  button .right-arrow,
  .button .right-arrow {
    background-image: url(../img/btn-icon-right-arrow.png);
    width: 14px;
    height: 14px; }
  button .globe,
  .button .globe {
    background-image: url(../img/btn-icon-globe.png);
    width: 23px;
    height: 23px;
    margin: -7px; }

/* STEP 4 - order information */
step4 notification {
  display: block;
  padding: 20px;
  color: white;
  background: #6a7ca0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  step4 notification strong {
    font-weight: 400;
    display: block;
    font-size: 110%; }
step4 buttons {
  bottom: -50px !important; }

field {
  display: block;
  padding: 15px 0 10px 20px;
  border-bottom: solid 1px #e2e1d5; }
  field label {
    display: block;
    font-weight: 400; }
  field input {
    width: 290px;
    font-weight: 600; }
    field input.address {
      width: 500px; }
  field input[type="checkbox"] {
    width: auto;
    float: left; }
  field textarea {
    width: 500px;
    height: 100px;
    font-weight: 600;
    resize: none; }
  field hint {
    color: #bcac94;
    font-size: 90%;
    display: block;
    margin-top: 3px; }

/* STEP 5 */
step5 notification {
  background: #96c08e;
  color: white;
  display: block;
  text-align: center;
  padding: 50px 0 40px; }
  step5 notification icon {
    background: url(../img/icon-notification-success.png) no-repeat;
    display: inline-block;
    width: 59px;
    height: 53px;
    float: left;
    position: relative;
    margin-right: -110px;
    margin-left: 130px;
    margin-bottom: -20px;
    margin-top: 5px; }
  step5 notification title {
    font-size: 220%;
    font-weight: 600;
    display: block; }
step5 field {
  display: block;
  padding: 5px 20px;
  font-weight: 400; }
  step5 field label {
    font-weight: 300;
    color: #514533;
    display: inline-block;
    width: 120px; }
step5 orderinfo,
step5 information {
  margin-top: 20px;
  padding-bottom: 20px;
  display: block; }
  step5 orderinfo title,
  step5 information title {
    font-weight: 600;
    display: block;
    padding: 0 20px; }
  step5 orderinfo icon,
  step5 information icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-bottom: -6px; }
step5 hint {
  font-size: 90%;
  padding: 15px;
  display: block; }

inputwrapper {
  display: block;
  position: relative; }
  inputwrapper status {
    display: inline-block;
    height: 18px;
    padding-left: 20px;
    vertical-align: middle;
    margin: -4px 0 -2px 5px;
    font-weight: 400; }
  inputwrapper status.valid {
    background: url(../img/input-success.png) no-repeat left center;
    color: #96c08e; }
  inputwrapper status.invalid {
    background: url(../img/input-error.png) no-repeat left center;
    color: #e07170; }

.icon-cart {
  background: url(../img/icon-shopping-cart.png) no-repeat center; }

.icon-pack {
  background: url(../img/icon-pack.png) no-repeat center; }

.icon-delivery {
  background: url(../img/icon-delivery.png) no-repeat center; }

.icon-person {
  background: url(../img/icon-person.png) no-repeat center; }

.icon-email {
  background: url(../img/icon-email.png) no-repeat center; }

.icon-phone {
  background: url(../img/icon-phone.png) no-repeat center; }

.icon-address {
  background: url(../img/icon-address.png) no-repeat center; }

.icon-note {
  background: url(../img/icon-note.png) no-repeat center; }

/* footer section */
footer {
  display: block;
  width: 100%;
  background: #dad7b6;
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 90%;
  position: relative; }
  footer wrapper {
    padding-left: 30px; }
  footer facebook {
    display: block;
    margin-top: 40px; }
  footer facebook img {
    margin-bottom: -3px; }
  footer nav li {
    list-style: none;
    float: left; }
  footer nav ul {
    margin: 0;
    padding: 0;
    margin-left: -10px; }
  footer nav li a {
    display: inline-block;
    padding: 4px 10px; }
  footer contacts {
    position: absolute;
    right: 30px;
    top: 0;
    text-align: right; }

/* Angular styles */
input.ng-dirty.ng-invalid {
  border-color: #e07170; }
input.ng-dirty.ng-valid {
  border-color: #96c08e; }

/* jquery */
.ui-resizable {
  position: relative; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block; }

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none; }

.ui-resizable-n {
  cursor: n-resize;
  top: -5px;
  left: 0; }

.ui-resizable-s {
  cursor: s-resize;
  bottom: -5px;
  left: 0; }

.ui-resizable-e {
  cursor: e-resize;
  top: 0;
  height: 100%; }

.ui-resizable-w {
  cursor: w-resize;
  top: 0;
  height: 100%; }

.ui-resizable-se {
  cursor: se-resize;
  right: -4px;
  bottom: -4px; }

.ui-resizable-sw {
  cursor: sw-resize;
  left: -4px;
  bottom: -4px; }

.ui-resizable-nw {
  cursor: nw-resize;
  left: -4px;
  top: -4px; }

.ui-resizable-ne {
  cursor: ne-resize;
  right: -4px;
  top: -4px; }

.ui-wrapper {
  /* something is hiding the holders */
  overflow: visible !important;
  position: absolute !important; }

.ui-resizable-ne,
.ui-resizable-nw,
.ui-resizable-sw,
.ui-resizable-se {
  border: solid 2px black;
  width: 8px;
  height: 8px;
  background: none;
  z-index: 1000;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6); }

.ui-draggable {
  box-shadow: 0 1px 1px #aaaaaa;
  position: absolute !important; }

.browsers {
  display: block;
  margin-top: 30px; }
  .browsers .chrome,
  .browsers .safari,
  .browsers .ie,
  .browsers .firefox {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    vertical-align: top;
    padding-top: 7px; }
  .browsers a {
    font-weight: 600;
    display: block; }
  .browsers .icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url(../img/browsers.png) no-repeat; }
  .browsers .chrome .icon {
    background-position: -5px; }
  .browsers .firefox .icon {
    background-position: -75px 0; }
  .browsers .safari .icon {
    background-position: -205px 1px; }
  .browsers .ie .icon {
    background-position: -277px; }

/* ================================== */
/* PAGES */
/* ================================== */
#indexpage content,
articlewrapper {
  background: white;
  padding-top: 20px;
  width: 999px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  font-size: 15.4px;
  line-height: 27.3px; }

articlewrapper {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word; }

.img {
  position: absolute; }

#indexpage > content {
  background: #eeedde;
  z-index: 1000;
  position: relative;
  margin: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 50px; }
  #indexpage > content #index {
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

#indexpage content section {
  padding: 60px;
  border-bottom: 1px solid #dbdbea;
  background: url("../img/sectionbg.png") repeat-x bottom left;
  position: relative;
  line-height: 1.8; }
  #indexpage content section p {
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word; }

#indexpage content #gallery-wrapper {
  background: url("../img/gallery-magnets.jpg") no-repeat;
  height: 421px;
  border-bottom: none; }

.gallery-free-to-use {
  background: white;
  background: rgba(255, 255, 255, 0.98);
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: absolute;
  width: 500px;
  top: 100px;
  right: 90px; }
  .gallery-free-to-use p {
    line-height: 1.5; }

/* */
.quality {
  padding-right: 250px; }
  .quality img {
    right: 0;
    top: 50px; }

/* */
.for-all {
  padding-top: 20px;
  padding-bottom: 290px; }
  .for-all img {
    left: 0;
    bottom: 0; }

/* */
.ideal-personal-gift {
  padding-left: 200px;
  padding-top: 20px; }
  .ideal-personal-gift img {
    left: 0;
    bottom: -50px; }

/* */
.fast-delivery {
  padding-left: 330px;
  padding-top: 35px; }
  .fast-delivery img {
    left: 0;
    top: 40px; }

/* */
#feedback-clients-wrapper {
  background: url("/assets/img/customer-feedback.png") no-repeat right bottom !important;
  height: 345px; }
  #feedback-clients-wrapper pagging {
    display: block;
    font-size: 10px;
    position: absolute;
    bottom: 30px; }
    #feedback-clients-wrapper pagging page {
      float: left;
      margin-right: 5px;
      display: block;
      cursor: pointer;
      text-align: center;
      border: solid 1px #dddddd;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      transition: all 0.2s;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s; }
      #feedback-clients-wrapper pagging page:hover {
        background: #fafafa; }
      #feedback-clients-wrapper pagging page.selected {
        background: #dddddd;
        font-weight: 600; }
  #feedback-clients-wrapper arrow {
    display: block;
    position: absolute;
    right: -10px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #dddddd; }
    #feedback-clients-wrapper arrow bg {
      display: block;
      position: absolute;
      top: -9px;
      right: 1px;
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 9px solid white; }

magniti-feedback {
  top: 97px;
  position: absolute;
  width: 700px;
  text-align: left;
  display: block;
  border: solid 1px #dddddd;
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px; }
  magniti-feedback .avatar {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    float: left;
    margin-right: 15px; }
  magniti-feedback .name {
    display: block;
    margin-top: -3px;
    margin-bottom: -6px;
    font-weight: 600; }
  magniti-feedback .date {
    font-size: 80%;
    color: #aaaaaa;
    display: block; }
  magniti-feedback p {
    display: block;
    clear: both;
    line-height: 1.5;
    font-size: 90%;
    padding-left: 55px;
    padding-top: 5px;
    text-align: left !important; }

/* */
.feedback {
  text-align: center; }
  .feedback a, .feedback a:hover {
    margin-top: 5px;
    padding: 8px 20px; }
  .feedback a:hover {
    background: #5e6f93; }

/* index header */
#indexpage header {
  height: 680px;
  position: relative;
  background: black; }

#indexpage .header-image {
  height: 680px; }

#indexpage header background {
  text-align: center;
  display: block;
  background: black;
  position: fixed;
  top: 0;
  width: 100%; }

#header-image-overlay {
  background: black;
  height: 680px;
  width: 100%;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1000;
  display: none;
  position: absolute;
  top: 0;
  left: 0; }

@media screen and (max-width: 1367px) {
  #indexpage header {
    height: 630px;
    width: auto; }

  #indexpage whatwedo {
    top: -410px !important; }

  #indexpage .header-image {
    height: 645px;
    position: relative;
    left: -20px; } }
@media screen and (max-width: 1025px) {
  #indexpage header {
    height: 600px;
    width: auto; }

  #indexpage whatwedo {
    top: -390px !important; }

  #indexpage .header-image {
    height: 615px;
    position: relative;
    left: -90px; } }
@media screen and (max-width: 900px) {
  #indexpage header {
    height: 600px;
    width: auto; }

  #indexpage whatwedo {
    top: -380px !important; }

  #indexpage .header-image {
    height: 600px;
    position: relative;
    left: -190px; } }
#indexpage header nav a {
  color: #dddddd; }
  #indexpage header nav a:hover {
    text-decoration: none;
    color: white; }

#indexpage header bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7; }

#indexpage header section {
  width: 999px;
  height: 682px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 100; }

header-info {
  width: 999px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  top: 0px;
  position: relative;
  z-index: 100;
  color: white;
  height: 0; }

#indexpage whatwedo {
  font-size: 19.6px;
  line-height: 1.5;
  font-weight: 300;
  position: absolute;
  top: -450px;
  left: 60px;
  display: block;
  width: 370px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.1); }

#indexpage whatwedo b {
  font-size: 43.4px;
  margin-bottom: 15px;
  display: block; }

#indexpage order {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 130px;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 45px 45px 0 0;
  box-shadow: inset 0 -10px 53px rgba(0, 0, 0, 0.4); }
  #indexpage order a {
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s; }
  #indexpage order a:hover {
    text-decoration: none; }

#indexpage .order-button {
  display: inline-block;
  background: #4ea56c;
  text-decoration: none;
  padding: 10px 0;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  z-index: 10;
  bottom: -25px;
  right: 60px;
  color: white;
  font-weight: bold;
  width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 19.6px;
  border-radius: 40px;
  letter-spacing: 1px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2); }

.order-button:hover {
  background: #43b269 !important; }

#indexpage pricetag {
  display: block;
  position: absolute;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  text-align: center;
  top: 20px;
  text-shadow: 0 3px 17px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(0, 0, 0, 0.3); }

#indexpage price {
  font-size: 43.4px;
  line-height: 1;
  font-weight: bold; }
  #indexpage price small {
    font-size: 70%;
    font-weight: normal; }

#indexpage info {
  line-height: 1.7;
  padding-top: 3px;
  font-size: 14px;
  display: block; }

row {
  *zoom: 1;
  display: block;
  background: url("../img/sectionbg.png") repeat-x bottom left;
  padding: 30px; }
  row h2 {
    margin-bottom: 13px; }
  row:before, row:after {
    content: " ";
    display: table; }
  row:after {
    clear: both; }
  row > section {
    float: left;
    width: 33.33%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 570px;
    background: none !important;
    padding: 30px !important;
    border: none !important; }
    row > section p {
      line-height: 1.7;
      text-align: justify;
      text-justify: inter-word; }
    row > section img {
      border-radius: 30px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      margin-bottom: 20px;
      margin-top: 30px; }

hints {
  display: none;
  position: absolute;
  z-index: 200;
  color: #eeeeee;
  max-width: 250px;
  padding: 10px 15px;
  font-size: 90%;
  background: #515151;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  hints pointer {
    width: 0;
    height: 0;
    position: absolute; }
  hints.bottom pointer {
    top: -20px;
    left: 15px;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #515151; }
  hints.top {
    top: -20px;
    left: 10px; }
    hints.top pointer {
      bottom: -20px;
      left: 15px;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #515151; }
  hints.right pointer {
    left: -20px;
    top: 50%;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #515151; }
  hints.left pointer {
    right: -20px;
    top: 50%;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #515151; }

.facebook_album {
  float: left;
  width: 33.33%;
  padding: 10px 5px;
  text-align: center;
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .facebook_album cover_photo {
    display: block;
    width: 195px;
    height: 120px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative; }
    .facebook_album cover_photo img {
      height: 120px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }

.fb-like {
  display: block;
  height: 15px;
  margin-left: 15px; }

.hide {
  display: none; }

.contactForm {
  width: 550px; }

skype {
  display: block;
  position: absolute;
  right: 15px;
  width: 360px;
  padding-top: 30px; }
  skype contact {
    display: inline-block;
    width: 49%;
    padding: 25px 5px 10px 5px;
    background: #fafafa;
    text-align: center;
    font-size: 85%;
    font-weight: 400;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 5px; }
  skype img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  skype b {
    font-weight: 400;
    display: block; }

magnetsgallery {
  display: block;
  width: 940px;
  height: 800px;
  margin-top: 50px;
  position: relative; }
  magnetsgallery li {
    list-style: none;
    float: left;
    width: 180px;
    height: 180px;
    margin-bottom: 8px;
    margin-right: 8px;
    position: relative; }
    magnetsgallery li img {
      width: 180px;
      height: 180px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.2s;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s; }
    magnetsgallery li img:hover {
      width: 330px;
      height: 330px;
      z-index: 10;
      top: -75px;
      left: -75px;
      box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5), 0 1px 5px rgba(0, 0, 0, 0.4), inset 0 0 1px 1px white; }
  magnetsgallery galleryfilters {
    position: absolute;
    top: -50px;
    font-size: 80%; }
  magnetsgallery galleryfilters filter {
    float: left;
    display: block;
    margin-right: 4px;
    padding: 2px 15px;
    background: #f5f4ec;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    cursor: pointer; }
    magnetsgallery galleryfilters filter:hover {
      background: #edebdb; }
    magnetsgallery galleryfilters filter.active {
      background: #96c08e;
      color: white;
      cursor: default; }

.clear {
  clear: both; }

#GalleryTabContent magnetsgallery {
  width: 650px;
  height: 500px;
  padding-left: 15px;
  position: absolute; }
  #GalleryTabContent magnetsgallery filter {
    padding: 4px 10px;
    margin-top: 12px; }
  #GalleryTabContent magnetsgallery content {
    width: 635px;
    height: 500px;
    overflow-x: none;
    overflow-y: scroll; }
  #GalleryTabContent magnetsgallery li {
    width: 195px;
    height: 195px;
    margin-bottom: 5px;
    margin-right: 5px; }
  #GalleryTabContent magnetsgallery img, #GalleryTabContent magnetsgallery img:hover {
    top: 0;
    left: 0;
    box-shadow: none;
    cursor: pointer;
    width: 195px;
    height: 195px; }

.terms p {
  margin: 20px 0;
  line-height: 150%; }
.terms ul li {
  margin: 10px 0;
  line-height: 150%; }
.terms h2 {
  margin-top: 20px; }

.fluxslider {
  margin: auto; }
  .fluxslider .pagination {
    position: absolute;
    top: 380px;
    width: 999px;
    left: 50%;
    margin-left: -498px !important;
    z-index: 1000;
    text-align: left !important;
    padding-left: 50px !important; }
    .fluxslider .pagination li {
      background: none;
      border: solid 2px white;
      border: solid 2px rgba(255, 255, 255, 0.4);
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      width: 16px;
      height: 16px;
      top: 0;
      overflow: hidden;
      text-indent: -100px;
      text-size: 1px;
      line-height: 1px;
      margin-left: 8px !important;
      list-style: none !important;
      transition: all 0.2s;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      .fluxslider .pagination li.current {
        background: white; }

/* rectangular css */
.rectangular-borders {
  display: none; }
  .rectangular-borders border, .rectangular-borders .frame, .rectangular-borders img {
    width: 65px; }

.rectangular-magnets .rectangular-borders {
  display: block; }
.rectangular-magnets .square-borders {
  display: none; }
.rectangular-magnets overlay top, .rectangular-magnets overlay bottom {
  height: 70px; }
.rectangular-magnets overlay left, .rectangular-magnets overlay right {
  width: 60px;
  height: 410px;
  top: 70px; }
.rectangular-magnets photoframe, .rectangular-magnets photoborder {
  width: 530px;
  height: 410px;
  top: 70px;
  left: 60px; }
.rectangular-magnets step2 framer {
  background-image: url(/assets/img/framer-rectangular.png); }
.rectangular-magnets editor pack magnit {
  height: 77px;
  width: 100px; }
.rectangular-magnets editor pack {
  height: 330px; }
.rectangular-magnets editor left pack {
  height: 267px; }
