<!DOCTYPE html>
<html>
<head>
    <title>Информация за контакти с магнито.нет</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/min/?f=assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />

    <!-- saving around 100ms from dns caching -->
    <link href="//www.magnito.net" rel="dns-prefetch" />
    <link href="http://www.magnito.net/" rel="prefetch" />
    <!-- <link rel="prefetch" href="/my-next-page.htm"></link> -->

    <!--[if lt IE 9]>
    <script src="/assets/scripts/oldbrowser.js"></script>
    <![endif]-->
</head>



<body ng-app="editorApp">

<header>
    <headernav>
        <wrapper>
            <logo>
                <a rel="prefetch" href="/" title="Магнитите за хладилник"><img src="/assets/img/logo.png" width="142" height="45" alt="Магнитите за хладилник - идея за подарък" /></a>
            </logo>

            <nav>
                <ul>
                    <li><a rel="prefetch" href="/" title="Магнити за хладилник">Начало</a></li>
                    <li><a rel="prefetch" href="/editor" title="Поръчване на магнити за хладилник">Поръчка</a></li>
                    <li><a rel="prefetch" href="/delivery" title="Повече информация за доставянето на магнитите за хладилник">Доставки</a></li>
                    <li><a rel="prefetch" href="/about" title="Повече информация за magnito.net">За нас</a></li>
                    <li><a rel="prefetch" href="/contacts" title="Свържете се с нас ако имате въпроси или нужда от допълнителна информация.">За контакти</a></li>
                </ul>
            </nav>
        </wrapper>
    </headernav>
</header>

<content>
    <articlewrapper>

        <h2>За контакт с нас</h2>
        Ако имате въпроси или имате нужда от допълнително информация - не се притеснявайте да се свържете с нас.<br />

        <skype>
            <b>Или ни пишете в skype:</b>

            <contact>
                <img src="/assets/img/magnito-avatar.png" alt="magnito avatar" width="80" height="80" class="magnito-avatar"><br>
                <a href="skype:freyapassion?chat">Svilena Slavev</a>
                <a href="skype:freyapassion?chat"><img src="http://mystatus.skype.com/smallclassic/freyapassion" style="border: none;" width="114" height="20" alt="My status" /></a>
            </contact>

            <contact>
                <img src="/assets/img/magnito-avatar.png" alt="magnito avatar" width="80" height="80" class="magnito-avatar"><br>
                <a href="skype:aleksandrenko?chat">Nikolai Aleksandrenko</a>
                <a href="skype:aleksandrenko?chat"><img src="http://mystatus.skype.com/smallclassic/aleksandrenko" style="border: none;" width="114" height="20" alt="My status" /></a>
            </contact>

        </skype>

        <form class="normalfontsize contactForm" name="contactForm" ng-controller="ContactPageCtrl" ng-submit="submit();" ng-cloak >

            <preloader ng-show="loading">
                <bg></bg>
                <focus>
                    <img src="/assets/img/ajax-loader.gif" width="16" height="16" alt="" /> Зареждане
                </focus>
            </preloader>

            <success ng-show="success">
                <bg></bg>

                <focus>
                    <title>Успех!</title>
                    Запитването беше изпратено успшно.
                    <a class="button green" ng-click="closeSuccess()">затвори</a>
                </focus>
            </success>

            <error ng-show='error'>
                <bg></bg>
                <focus>
                    <title>Грешка - {{ errorStatus }}!</title>
                    {{ errorDescription }}
                    <br />
                    <a class="button red" ng-click="closeError()">затвори</a>
                    <icon></icon>
                </focus>
            </error>


            <field></field>

            <field>
                <label for="info-name">Име и Фамилия:</label>
                <inputwrapper>
                    <input id="info-name" name="name" type="text" ng-model="name" ng-minlength="10" required />
                    <status class="invalid" ng-show="contactForm.name.$error.required && contactForm.name.$dirty">Полето е задължително</status>
                    <status class="invalid" ng-show="contactForm.name.$error.minlength && contactForm.name.$dirty">Мин. дължина е 10 символа</status>
                </inputwrapper>
                <hint>(Иван Иванов)</hint>
            </field>

            <field>
                <label for="info-email">Email:</label>
                <inputwrapper>
                    <input id="info-email" name="email" type="email" ng-model="email" ng-minlength="5" required />
                    <status class="invalid" ng-show="contactForm.email.$error.email && contactForm.email.$dirty">Не е валиден email!</status>
                    <status class="invalid" ng-show="contactForm.email.$error.required && contactForm.email.$dirty">Полето е задължително</status>
                    <status class="invalid" ng-show="contactForm.email.$error.minlength && contactForm.email.$dirty">Мин. дължина е 5 символа</status>
                </inputwrapper>
                <hint>(ivan.ivanov@gmail.com)</hint>
            </field>

            <field>
                <label for="info-note">Бележки:</label>
                <inputwrapper>
                    <textarea id="info-note" ng-model="notes" required></textarea>
                </inputwrapper>
            </field>
            <br />
            <buttons style="padding-left: 20px; display: block;">
                <button class="green button" ng-disabled="!contactForm.$valid">Изпрати</button>
            </buttons>

        </form>

    </articlewrapper>
</content>

<footer>
    <wrapper>
        © 2012-2013 <a href="/" class="textlike" title="Магнити за хладилник със снимка.">Magnito.net</a>

        <nav>
            <ul>
                <li><a href="http://www.magnito.net/" title="Магнити за хладилник">Начало</a></li>
                <li><a href="/about" title="Поръчване на магнити за хладилник">За нас</a></li>
                <li><a href="/faq" title="Често задавани въпроси">FAQ</a></li>
                <li><a href="/terms" title="Запознайте се с нашите условия за ползване">Условия за ползване</a></li>
                <li><a href="/privacy" title="Информация, за това как работим с вашите лични данни">Лични данни</a></li>
                <li><a href="/gallery" title="Галерия с картинки подходящи за магнити за хладилник">Галерия с магнити</a></li>
                <li><a href="/contacts" title="Свържете се с нас ако имате въпроси или нужда от допълнителна информация.">За контакти</a></li>
            </ul>
        </nav>

        <facebook>
            <a href="http://pinterest.com/magnitonet/fridge-magnets/" target="pinterest"><img src="/assets/img/pinterest.png" width="14" height="14" /></a>
            <img src="/assets/img/fb.png" width="14" height="14" />
            <a href="http://facebook.com/magnito.net" target="fb">facebook.com/magnito.net</a>
            <div class="fb-like" data-href="https://www.facebook.com/magnito.net" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </facebook>

        <contacts>За въпроси и информация: <br /><a href="mailto: contacts@magnito.net">contacts@magnito.net</a></contacts>
    </wrapper>
</footer>


<script src="/assets/scripts/libs/jquery-1.9.0.min.js"></script>
<script src="/assets/scripts/vendor/angular.min.js"></script>
<script src="/assets/scripts/app.js"></script>
<script src="/assets/scripts/controllers/contactpage.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=460342137362549";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39645650-1', 'magnito.net');
    ga('send', 'pageview');

</script>

</body>
</html>